[2015-10-13 03:40] parente opened #6 "Enable travis-ci"
My first attempts ran into permission errors with little additional information. Not sure what's wrong seeing as how this approach is exactly what we followed for dashboards and the other repos.

https://github.com/parente/kernel_gateway/blob/travis/.travis.yml

[2015-10-13 03:41] parente opened #7 "Add /api and /api/kernelspecs"
The /api source is important for knowing the API version. The /api/kernelspecs is important for knowing what kernels are available (and maybe one day fetching kernel frontend assets).

[2015-10-13 03:43] parente opened #8 "Option to limit number of kernels allowed"

[2015-10-13 03:43] parente opened #9 "Option to pre-spawn kernels"
Launch a number of kernels on gateway start.

Use case: quick-and-dirty pooling on a single host or two-tiered pooling if the gateway is running within a cluster (e.g., binder) and each gateway container needs to service multiple kernels.

[2015-10-13 03:44] parente opened #10 "Option to pre-seed kernel memory"
Given a URI of a notebook, execute its contents on launched kernels, either immediately or when the first websocket connection is established.

[2015-10-13 03:45] parente opened #11 "Option to set default kernel"
Have a command line option `--default-language` that sets the default kernel to spawn if a request for a kernel (POST) does not explicitly state a kernel language name.

[2015-10-13 03:45] parente opened #12 "Version properly and publish to PyPI"

[2015-10-13 12:44] parente opened #13 "Option for base_url"
Allow mounting of `/api` resources under a root specified on launch.

[2015-10-13 15:47] parente opened #14 "Make the test suite prettier, add coverage"
I'm not spending many cycles on keeping the test suite beautiful at the moment. Tracking warts here.

* [x] split into multiple modules, not one giant test_gatewayapp module; tests for the jupyter-websocket mode vs the notebook-http mode are a first order candidate for a split
* [X] try to fix the hangs on travis (not fixed, but rather opened upstream https://github.com/jupyter-incubator/kernel_ga

[2015-10-13 16:40] parente commented on #12
I'm going to adopt the same versioning and release mechanism used for jupyter_client, notebook, etc. There's a `_version.py` file in the root of the package. It retains the `dev` suffix in git. At release time, a commit is made which removes the `dev` to make it a standard triple dotted version number. The git repo is tagged. Then another commit is immediately made to master bumping the version an

[2015-10-13 18:02] parente commented on #12
Not going to release the package yet. Going to look into how to do it automatically from travis in #6. Failing that, will do manual build and release according to the flow above.

[2015-10-14 16:23] parente commented on #6
Fixed by #15.

[2015-10-14 16:23] #6 closed

[2015-10-15 12:19] parente opened #16 "Proof point: Show Jupyter Notebook launching kernels remotely"
To prove out the concept, try the following in a personal fork somewhere and let's see how it goes. The changes are something like so:

* Notebook frontend JavaScript communicates with its backend Jupyter Notebook server to CRUD notebooks on disk and manage notebook sessions
* Notebook frontend JS gets the remote kernel gateway URL via a config option that passes through to it somehow. (There must

[2015-10-15 13:14] jtyberg commented on #16
I'll take a look at this.

[2015-10-15 20:01] jtyberg commented on #16
It looks like there would be backend changes necessary to make this work.  The [sessionmanager.py](https://github.com/jupyter/notebook/blob/master/notebook/services/sessions/sessionmanager.py#L60) starts a kernel on the local notebook server using the configured kernel manager.  We would have to write our own kernel manager that talks REST to a kernel_gateway to manage kernels remotely.

In additi

[2015-10-16 19:49] jtyberg commented on #16
It turns out that the websocket URL can be set as an option to the Notebook app, so no changes to the frontend JS are needed.  I just ran my notebook server using

[code]

I'm also using a `RemoteKernelManager` class to make the REST calls to the kernel gateway to create a kernel, etc.  I got stuck because the kernel gateway (actually, WebSocket mixin) is [checking CORS headers](https://github.com

[2015-10-16 20:32] parente commented on #16
Turns out the Websocket check is supported by Tornado as an optional way to prevent XSS, even though it's not part of the Websocket standard:

http://tornado.readthedocs.org/en/latest/websocket.html?highlight=check_origin#tornado.websocket.WebSocketHandler.check_origin

The implementation in the notebook handlers doesn't provide security for non-notebook clients which can set Origin to anything. F

[2015-10-16 21:27] parente commented on #16
Another related problem: there's no way in the browser Websocket API to pass through additional headers. So a direct-from-browser websocket connection is not going to be able to take advantage of token auth via headers down the line. It'll need to switch to passing a token through the URL as a query param or some such. But, as noted above, we don't want a single shared token appearing in the HTML

[2015-10-16 21:28] parente commented on #16
/cc @rgbkrk @minrk for thoughts on what we're finding so far. Maybe we're missing some shortcuts.

[2015-10-18 08:12] rgbkrk commented on #8
Number of running kernels or kernelspecs?

[2015-10-18 08:12] rgbkrk commented on #9
I'm beginning to really like the phrase "warming the cache", though it's not being used in tmpnb yet.

[2015-10-18 08:13] rgbkrk commented on #10
Oooh, excellent. In addition to the dashboards, this provides a nice way to warm up JIT compiled languages like Julia.

[2015-10-20 15:18] jtyberg commented on #16
Working from @parente's branch to disable WS CORS on the kernel_gateway, I have remote kernels pretty much working.  I can launch new kernels when notebooks are opened or created, and delete them on notebook close or nbserver shutdown.

The biggest issue is restarting kernels.  The [SessionManager](https://github.com/jupyter/notebook/blob/master/notebook/services/sessions/sessionmanager.py#L24) cr

[2015-10-20 15:22] rgbkrk commented on #16
Sorry I had not followed up on this one yet. How are we doing auth on websockets now?

[2015-10-20 15:31] parente commented on #16
Token auth in headers, which doesn't square with the capabilities of the browser WebSocket APIs (but works fine in all other clients).

We need to sit and think through the options in https://github.com/jupyter-incubator/kernel_gateway/issues/16#issuecomment-148840747 or other options for how to design this properly for the long haul. At the moment, @jtyberg  is just working on a quick hack to flu

[2015-10-20 18:19] jtyberg commented on #16
With regard to kernel restarts, interrupts, etc. from the notebook browser UI, [kernel.js](https://github.com/jupyter/notebook/blob/master/notebook/static/services/kernels/kernel.js#L319) is hitting the kernel REST endpoints directly, and assumes the endpoints are on the same server as the notebook server.  So it looks like frontend JS changes will also be necessary to support kernels that are rem

[2015-10-20 18:24] parente commented on #16
In prep for a convo about this with others, maybe a small wiki page attached to this project with the three options for how to proceed with a real impl with their pros/cons is in order.

[2015-10-21 01:48] parente opened #17 "Option(s) to control channel access"
Option to limit access to one or more Jupyter protocol channels: shell, iopub, control. Maybe to limit to specific comm channel names within shell too.

Use case: Restricting kernel access to listen-only.

[2015-10-21 02:22] jtyberg commented on #16
Well, I got the remote kernel restarts working, but I had to muck with the JS a bit.

There doesn't appear to be a NotebookApp option similar to `websockets_url` for the notebook REST API.  [session.js](https://github.com/jupyter/notebook/blob/61c99ca11c76eef96f427578a454760f41381cc5/notebook/static/services/sessions/session.js#L105) just assumes the host for the kernel REST endpoints is the same

[2015-10-21 09:40] rgbkrk commented on #16
This seems like something that @zischwartz had to patch in Thebe.

[2015-10-25 03:54] rgbkrk commented on #17
Listen only is a good case for iopub and using SSE instead of websockets.

[2015-10-26 01:49] parente commented on #17
I think supporting more than websocket alone is going to be one of the more interesting aspects of the gateway. I chatted with some folks at Jupyter Day about the idea of combining the idea in #10 with, say, the ability to front specific notebook content (functions? cells?) with a pure HTTP API. Kernels then become little microservice engines.

At this point, I don't mind lumping a lot of differen

[2015-10-26 17:23] parente commented on #8
Limit # of kernel instances. If I want to scale at the container level only, I don't want a client to be able to ask a single kernel gateway for multiple kernels. (Optionally of course: sometimes I *do* want to run multiple kernels behind a gateway.)

[2015-10-26 20:31] parente commented on #16
Aforementioned wiki page: https://github.com/jupyter-incubator/kernel_gateway/wiki/notebook_kernel_gateway

I think the experiment here fleshed out pain points and options for remote kernels in the notebook if we want to go there one day. We're not the only ones, btw, and certainly not the only approach (e.g., https://github.com/danielballan/remotekernel). I don't think there's anything else to do

[2015-11-06 16:06] nitind commented on #11
I'll take this one.

[2015-11-06 16:20] parente commented on #11
@nitind Cool. Let me know if you want to pair on it or have an early PR for comments.

[2015-11-16 13:39] parente commented on #11
How's this one coming along? I'm hoping #9 and #10 go into master today. Then this is the last one I think worth having before cutting a 0.1.0 release.

[2015-11-16 13:43] parente opened #19 "Put some client samples in the README"
1. jupyter-js-services should be mature enough now to give an example using it from NodeJS
2. Include a Python client example too based on what we do in the tests

[2015-11-16 14:50] #10 closed

[2015-11-16 16:03] nitind commented on #11
I'm overriding the get_json_body method in our services.kernels.MainKernelHandler so we can avoid reimplementing the original handler's entire post() method, but our handler still needs to get the new default kernel name from an environment variable. I'd hoped to not do it in that file, but that looks to be the simplest.

[2015-11-16 22:07] #9 closed

[2015-11-17 01:59] parente opened #22 "Support dev/test on Python 2.7"
The project supports Python 2.7, but we haven't setup the automation to run the tests against 2.7. They started failing with strange exceptions on travis in PR #21. So we disabled the 2.7 test env in that PR until we can get a 2.7 test environment running locally to debug.

[2015-11-17 02:45] parente opened #23 "Option to enable kernel list"
Getting a list of all running kernel IDs should be considered an admin capability in many scenarios. The server should default to *not* supporting `GET /api/kernels` (conservative, more secure). If the user specifies `--KernelGatewayApp.list_kernels` on gateway start, the server should expose the endpoint.

[2015-11-17 12:55] nitind commented on #22
A local docker image reproducing the failures can be created from the original jupyter/minimal-notebook Dockerfile, replacing python-dev with python2.7-dev and the Python 3 Miniconda3-3.9.1-Linux-x86_64.sh with the Python 2 Miniconda-3.9.1-Linux-x86_64.sh .

[2015-11-17 14:10] parente commented on #22
We could also just switch to using the jupyter/scipy-notebook image which has python2 installed already and then adopt the same approach used in the dashboards Makefile for running tests against 2 and 3.

[2015-11-17 19:39] parente commented on #19
Taking this to ahead of cutting a 0.1.0 release to pypi.

[2015-11-17 19:53] nitind opened #25 "Make the Makefile help text prettier"
Currently it cats the Makefile itself instead of listing the valid targets with their descriptions.

[2015-11-17 20:01] #25 closed

[2015-11-18 02:21] #11 closed

[2015-11-18 03:35] #19 closed

[2015-11-18 16:11] nitind commented on #23
I'll handle this.

[2015-11-18 21:33] parente opened #29 "Options to enable HTTP access to kernels"
I've got it in my head that the kernel gateway can become a vehicle for providing many different ways of accessing kernels, both in terms of API and protocol. Right now, it supports HTTP to the notebook kernel CRUD API and Websockets carrying Jupyter protocol messages. We've talked about limiting channel access and doing HTTP to the notebook kernel CRUD API and SSE carrying Jupyter protocol iopub

[2015-11-19 20:25] parente commented on #29
Whole bunch of brainstorming with @nitind and @Lull3rSkat3r on this today. Dumping the notes here. Nothing set in stone and we're totally open to getting feedback from others. (I think it'll be easier to discuss with the community when we have something working though to show the concept.)

### What's the tenancy / scalability of kernel microservices?

A kernel is single threaded and handles one r

[2015-11-23 14:34] parente commented on #29
"Hello world" edition to consider during development here: https://gist.github.com/parente/fe0e5992abe8946f67e9

[2015-11-23 15:53] nitind commented on #23
@parente I've updated the help text.

[2015-11-23 17:29] parente commented on #23
Fixed by associated PR.

[2015-11-23 17:29] #23 closed

[2015-11-23 18:21] parente commented on #22
Fixed by PR #33

[2015-11-23 18:21] #22 closed

[2015-12-04 21:37] Lull3rSkat3r opened #36 "Invalid Options Should Terminate App"
It would be helpful if the application would terminate when receiving invalid command line args. For example, I sent `--KernelGatewatApp.api` instead of `--KernelGatewayApp.api`. This will help user error when deploying kernel gateway.

[2015-12-04 21:59] parente commented on #36
This is handled by (or not handled by) the ancestor classes. I bet their default behavior is to pass through anything because there might be a class not yet loaded that wants to receive the config values. We'll have to see if there's a way to fail-fast.

[2015-12-05 03:33] parente opened #37 "README section about how to use microservices feature"
* [ ] update description at the top, it's not just providing the jupyter API and websockets anymore
* [ ] new bullet in "what it provides" about
* [ ] new section with more info about the notebook-http mode
* [ ] link to github view of the api_intro notebook in that section
* [ ] document the `make` command structure for running with one of the notebooks in `etc` like:

[code]

[2015-12-05 03:52] parente opened #38 "Support lightweight request distribution for notebook-http mode"
* [x] don't hardcode 1 kernel to spawn on start, respect the `prespawn_count` parameter
* [x] on every request, round-robin through the list of kernels
* [x] make communication with a given kernel asynchronous to avoid blocking the tornado handling of other incoming requests but ensure the kernel remains "locked" from use by other requests until the current request is fully handled (hard)

Use cas

[2015-12-05 04:16] parente commented on #29
Prototype merged to master in #35. Opened #37 and #38 as follow-ons. jupyter-incubator/kernel_gateway_demos#1 and  jupyter-incubator/kernel_gateway_demos#2 will start to show how the feature can be put to use.

[2015-12-05 04:16] #29 closed

[2015-12-05 04:20] parente opened #39 "Move most of the examples in etc/ to kernel_gateway_demos"
If they're not needed for testing, they probably make more sense over in the demos repo. The README should get updated to point to the demos repo (e.g., the big client example should be removed from the README and links should be put in their place). Each demo in the kernel_gateway repo should be in a new subfolder in the `kernel_gateway_demos` repo.

[2015-12-07 17:43] Lull3rSkat3r commented on #37
Grabbing this.

[2015-12-07 18:02] parente commented on #37
Great. Thanks!

[2015-12-08 16:26] parente commented on #38
Pairing with @poplav

[2015-12-09 16:55] #37 closed

[2015-12-10 14:11] Lull3rSkat3r commented on #36
Looked around through the traitlet source and docs to see if there was anything we could do. We did not find anything obvious. I posted an issue, ipython/traitlets#145, with the traitlets repo to see if there is anything they support.

[2015-12-10 17:51] poplav commented on #38
PR #41 will close this issue.

[2015-12-11 05:45] parente opened #42 "Option to expose notebook-http endpoints as swagger doc"
So developers know what's available.

* [x] well-known endpoint like `/_api/spec` or some such. (The underscore indicates this is a API provided by the kernel gateway itself, not the notebook, and putting it under spec indicates it's the specification for the API and leaves us room to expose other things under `/_api` in the future.)
* [x] endpoint just returns the swagger JSON, not a rendering of

[2015-12-14 17:01] Lull3rSkat3r opened #43 "Ignore Whitespace In API Paths"
When there is a space trailing a path or a path parameter at the end the endpoint registration will not register properly. Examples include:

[code]

[2015-12-14 18:39] Lull3rSkat3r opened #45 "Pass HTTP Headers To Code Cells"
The headers from the HTTP request need to be passed along to the `REQUEST` object for cell execution. Things that need to be done:

* [x] Pass the headers through to the cell execution via `REQUEST`
* [x] Update the example notebooks to show access of headers
* [x] Update the documentation to document access of headers

[2015-12-14 20:38] parente commented on #45
If you've got a use case to point at, please do.

[2015-12-14 22:08] Lull3rSkat3r commented on #45
When implementing the Pet Store Swagger Spec, jupyter-incubator/kernel_gateway_demos#2, I need the ability to access the HTTP request headers for the content. This is needed because the Swagger Petstore API allows for response to be either JSON or xml.

[2015-12-14 22:45] Lull3rSkat3r opened #46 "Cell Code Needs To Set HTTP Response Metadata"
When implementing the Pet Store Swagger Spec, jupyter-incubator/kernel_gateway_demos#2, I need the ability to set the metadata for the HTTP response. This is needed because the Swagger Petstore API allows for responses in JSON or xml and has various HTTP status codes..

Specially annotated cell should be able to set the response metadata by printing a well know json structure.

[2015-12-14 22:52] Lull3rSkat3r opened #47 "Cell Code Needs To Set HTTP Response Code"
When implementing the Pet Store Swagger Spec, jupyter-incubator/kernel_gateway_demos#2, I need the ability to set the status code for the HTTP response. This is needed because the Swagger Petstore API requires multiple statuses for requests. And in general this will be needed to provide mature and proper functionality to developers using the kernel gateway.

I have two ideas for how this could be

[2015-12-15 01:22] parente commented on #36
Bumping out of 0.2.0 for now.

[2015-12-15 01:36] parente commented on #46
Another option that is more language agnostic but also more "magical" (in a bad way) ...

If the cell emits JSON, parse it. If it contains a "headers" key and a "body" key, use those to set the HTTP header and body appropriately. (Same for the "status" for issue #47).

Strawman here is to use a form of duck typing to do the detection, but maybe there's a more explicit way.

[2015-12-15 15:17] parente commented on #45
This one doesn't require discussion. Just pass through REQUEST as you said.

[2015-12-15 15:22] parente opened #48 "Optional /_api/source endpoint to download the original notebook for notebook-http mode"
What the title says.

Also, want to have a command line option with the default being “no, you can’t download the notebook".
Probably something like “—allow-notebook-download” or something.

[2015-12-15 16:08] #38 closed

[2015-12-15 16:10] parente commented on #43
Fixed by PR #44

[2015-12-15 16:10] #43 closed

[2015-12-15 21:12] poplav opened #49 "kernel_name is not correctly set when pre spawning kernels"
When initializing and starting the kernel pool we are not correctly forwarding the kernel name on the start kernel operation.  This is evident in the [constructor](https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/services/kernels/pool.py#L26).  Due to the kernel name not being set it defaults to python3 [ in multikernelmanager.start_kernel](https://github.com/jupyter/

[2015-12-15 22:45] poplav commented on #49
PR #51 will fix the issue.

[2015-12-16 15:16] Lull3rSkat3r opened #52 "Properly Handle Form Submissions"
When receiving bodies from a form submission. We need to, at least on a first pass, handle parsing the values of the form. These values should then be propagated to the code execution cell via the `REQUEST` object.

[2015-12-16 15:50] Lull3rSkat3r opened #53 "Properly Handle Form Submissions"
When receiving bodies from a form submission. We need to, at least on a first pass, handle parsing the values of the form. These values should then be propagated to the code execution cell via the `REQUEST` object.

[2015-12-16 15:50] Lull3rSkat3r commented on #53
Duplicate

[2015-12-16 15:50] #53 closed

[2015-12-16 15:51] Lull3rSkat3r commented on #52
PR #54 will close this issue.

[2015-12-16 20:47] #49 closed

[2015-12-16 21:20] #52 closed

[2015-12-18 17:59] #45 closed

[2015-12-22 21:08] poplav opened #57 "Request Code is not properly interpreted by the Julia REPL"
The issue arises when using the kernel gateway in notebook-http mode using a Julia kernel.

In the [kernel_gateway/handler](https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/services/notebooks/handlers.py#L95), request code is being executed before source code, where the source code is dependent on the execution of the request code.  The Julia REPL treats strings diffe

[2015-12-22 21:40] parente commented on #57
Ah, yes. The JSON string assignment to REQUEST has to be made more language neutral or has to become a language map like the assignment operator is.

/cc @nitind @Lull3rSkat3r

[2015-12-23 17:03] poplav commented on #57
PR [#58](https://github.com/jupyter-incubator/kernel_gateway/pull/58) should resolve this issue.  I tested the branch against the [Julia scotch notebook API] (https://github.com/poplav/kernel_gateway_demos/blob/issue-4-port-scotch-api/scotch_demo/notebooks/scotch_api_julia.ipynb) I was developing and it looks to work while not breaking anything else.

[2015-12-29 19:06] #57 closed

[2015-12-31 19:22] poplav commented on #48
PR [#59](https://github.com/jupyter-incubator/kernel_gateway/pull/59) should add the option --KernelGatewayApp.allow_notebook_download=True, but defaulting to False.

[2016-01-05 15:13] parente commented on #46
Brainstorming:

* Use the different message types to separate print (body, output) vs execute result (implicit display) (pro: agnostic, con: multiple outputs can get confusing)
* Set a global RESPONSE variable before the cell ends with a JSON value contain headers, status, etc. (pro: consistent with REQUEST, con: more kernel comm)
  * We can clear RESPONSE after reading it every time, but it still

[2016-01-05 15:14] parente commented on #47
Going to "merge" this into #46 and make that about arbitrary HTTP response metadata.

[2016-01-05 15:14] #47 closed

[2016-01-05 15:50] parente opened #60 "Support websocket connections in notebook-http mode"
Client connects to HTTP endpoint which has been declared as a websocket endpoint in the notebook. Kernel gateway listens for WS connections at that endpoint. Messages received from client to that endpoint cause execution of the cell code backing that endpoint. Response from the cell is pushed back to the client over the Websocket.

Question: What does push from kernel to client look like? Can we d

[2016-01-05 15:54] parente opened #61 "Show Tornado request logs in notebook-http mode"
Configure the logger in the same manner as when it's in jupyter-websocket mode so that we can see the HTTP requests to the notebook-defined API.

[2016-01-05 17:27] parente commented on #48
Fixed by #59

[2016-01-05 17:27] #48 closed

[2016-01-06 14:33] parente commented on #39
Should we move the rest of the api_examples too? Was that a miss?

[2016-01-06 14:58] poplav commented on #39
My concern was the api_examples were being used at [the running section](https://github.com/jupyter-incubator/kernel_gateway#running).  Where the running section is the baseline example usage of the repository and the complete set of demos were linked below.  We could duplicate them in both repositories, I am just not sure if we would want to completely remove all even basic examples?

[2016-01-06 15:05] Lull3rSkat3r opened #63 "Escaping Double Quotes In Code Is Causing Failures"
When performing requests with fields containing `"` I am never seeing a response come back because an exception is happening due to a syntax error. I am seeing this specifically with the `If-None-Match` header. The problem arises from this [function](https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/services/notebooks/handlers.py#L30).

The case stated above is subtle

[2016-01-06 15:19] parente commented on #39
Ah, I see it now. Let's get the scotch one out of here so we don't have to maintain it in two place and update the README not to refer to that one. But the other simple ones can stay for the reason you gave.

[2016-01-06 19:24] Lull3rSkat3r commented on #42
PR #66 will close this

[2016-01-07 15:04] Lull3rSkat3r commented on #46
Putting the original implementation ideas here to record in case we change implementations in the future:

# Implementation 1: Display Data
The python kernels already use the [display data module](http://ipython.readthedocs.org/en/stable/api/generated/IPython.display.html?#module-IPython.display) to set outputs for specific types. For my particular use case, I believe this could be achieved today

[2016-01-07 17:21] #42 closed

[2016-01-07 20:00] #39 closed

[2016-01-07 20:50] #63 closed

[2016-01-11 03:09] #61 closed

[2016-01-11 20:18] Lull3rSkat3r commented on #46
pr #70  will close this.

[2016-01-13 01:29] #46 closed

[2016-01-13 01:29] parente commented on #46
Merged. For anyone else following along, README has the final design.

[2016-01-13 01:55] parente opened #71 "In jupyter-websocket mode, base handler tries to use jinja to render an error"
The handler from notebook is overriding http://tornado.readthedocs.org/en/latest/web.html#tornado.web.RequestHandler.write_error and using jinja to render a pretty HTML page for a user. We should probably point it back to the most base class version (http://tornado.readthedocs.org/en/latest/_modules/tornado/web.html#RequestHandler.write_error) for consistency with notebook-http mode. That or consi

[2016-01-14 16:04] nitind commented on #71
I'll take care of this.

[2016-01-15 02:38] #71 closed

[2016-01-15 20:49] Lull3rSkat3r opened #74 "Setup.py does not include swagger and cell packages"
This is causing the kernel gateway to fail when running via pip installs.

[2016-01-15 20:51] Lull3rSkat3r commented on #74
PR #75 will closes this.

[2016-01-16 14:54] #74 closed

[2016-01-16 22:28] Lull3rSkat3r opened #76 "Pass Configuration Values To Notebook"
I am thinking about how you could configure an application in `notebook-http` mode. Initially, I think we could add a command line option, say `--KernelGatewatApp.custom=foo:bar`, which can generate a json string representing the config value.

[code]

There could then be a config cell which will parse a variable called `CONFIG`, which is the json structure we defined. An example, in python, would

[2016-01-16 22:29] Lull3rSkat3r commented on #76
Thought of this while daydreaming and wanted to dump here for conversation.

[2016-01-17 00:54] parente commented on #76
Environment variables would pass through to the kernel with no extra work.

[2016-01-19 17:22] ChristophLo opened #78 "Installation does not complete in Windows / missing exe and script"
I think something is broken with the jupyter gateway installation using Windows (if it is not and I am simply to clumsy to do it properly, please excuse this post and delete it...)

I am using Windows 10 with Anaconda& Python 2.7.
Following the "Try It" section on the website, I installed  jupyter gateway via  "pip install jupyter_kernel_gateway".
When using "jupyter kernelgateway --help-all" to t

[2016-01-19 17:45] parente commented on #78
It's more likely than not our bug since we don't have good (any?) test coverage (manual or automated) on Windows.

I thought we were duplicating what the other jupyter projects do to install their bin scripts and make them accessible under the `jupyter <something>` command. But I suspect we're missing a step to make it work on Windows specifically. (They work fine on Linux and OS X.)

[2016-01-19 17:47] parente commented on #78
Evidence: https://github.com/jupyter/nbconvert/blob/master/setup.py#L191

[2016-01-19 22:20] parente opened #79 "Filter warnings from output"
Latest jupyter/datascience-notebook applied to Python scotch demo. Note the cruft at the end.

[code]

We could say it's the notebook developer's job to make sure nothing like this gets emitted. But, as I just found, sometimes you just want to run an existing notebook and are greeted by junk like this.

We should look how we're dealing with error messages and the like.

[2016-01-19 22:20] parente commented on #79
/cc @Lull3rSkat3r

[2016-01-20 15:19] parente commented on #78
@ChristophLo I think I've got the exe problem fixed for Windows, but I'm having a heck of a time getting a Windows VM setup to test it. If you're familiar with testing pull requests, it might speed things along if you could pull and try the one associated with this work item. If not, don't worry about it: I'll get it setup sooner or later.

[2016-01-20 15:20] ChristophLo commented on #78
I'll try...

[2016-01-20 15:52] ChristophLo commented on #78
The current fork bdist-wheel including the changes you made one hour ago does indeed install and de-install correctly in windows (deinstalled my old kernel-gateway, removed the files I created manually, installed via pip locally using the aforementioned fork which did indeed create the required .exe files, and deinstalled again which removed the .exe files).
So, the issue seems to be fixed.

[2016-01-20 15:56] parente commented on #78
Awesome. Thanks for testing it so quickly! I'll get it merged.

[2016-01-20 15:59] ChristophLo commented on #78
Thanks for fixing!

[2016-01-20 16:01] #78 closed

[2016-01-25 15:56] parente commented on #79
My initial thinking here is that we simply drop all output on stderr from being included in the response. We can document this behavior so that would-be API developers know not to rely on stderr as a mechanism for returning content. (We already do this implicitly by stating that cells should write to stdout or use the notebook display mechanism.)

[2016-01-25 19:20] parente opened #85 "Port conflict during test run"
Caught this on my local box. Could be the culprit causing repeat failures and timeouts on travis.

[code]

[2016-01-25 19:49] #79 closed

[2016-02-01 21:33] parente opened #92 "Switch to traitlets decorator syntax"
Avoid all the:

[code]

that results from using the old syntax with traitlets 4.1.

[2016-02-02 04:33] parente opened #94 "Travis stalls after tests succeed"
See travis-ci/travis-ci#5555

[2016-02-05 14:59] parente commented on #76
I think we can close this.

[code]

[code]

In both cases, the environment variable `FOO` will be available to all kernels launched. The kernel can do whatever is appropriate for the kernel language to access them.

[2016-02-05 14:59] #76 closed

[2016-02-08 16:19] rwhorman opened #96 "Need ability to identify dormant kernels to quiesce them"
In the context of a service that needs to efficiently manage jupyter-kernel-gateways for users, it is necessary to be able to monitor kernels to ascertain a sufficient period of inactivity, thereby triggering kernel shutdown.

In the bigger picture, where a kernel-gateway is provisioned for each user, it is necessary to quiesce that user's kernel-gateway when they've "stepped away" from the API an

[2016-02-08 17:34] parente commented on #96
Thanks for opening this @rwhorman. The request is reasonable from an admin/devops perspective. The challenge will be getting the hooks into the right spots to watch for traffic to/from kernels via the websocket connections, including idle/busy status indications. This has partially been done with jupyter/http-configurable-proxy in the past because adding the capability to the notebook server itsel

[2016-02-08 21:36] parente commented on #96
Probably the place to try would be to write a new WebsocketHandler override in the https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/services/kernels/handlers.py module. In the new class, override on_message to watch traffic from a client to a kernel and _on_zmq_reply to watch traffic from a kernel to a client.

* https://github.com/jupyter/notebook/blob/master/noteboo

[2016-02-09 15:58] lbustelo commented on #96
@rwhorman Any concerns that the KG will hold this activity information in memory? Are you shutting down KGs independent of kernels?

Some interesting scenarios:

1. User executes some code on kernel that leaves a thread that pushes data back through the iopub channel. User then leaves. Is this a case where we would like to terminate the KG? If so, we should not track traffic that `left or entered

[2016-02-09 16:08] Lull3rSkat3r commented on #96
Something that may help users decide on their specific use case is to provide more information:

[code]

* `last_message_to_client` - The last time a client sent a message to the kernel
* `last_message_to_kernel` - The last time a message was sent from the kernel to the client
* `last_client_connect` - The last time a client websocket connected to `/api/kernels/:kernel_id/channels`
* `last_client_

[2016-02-09 19:44] Lull3rSkat3r commented on #96
#97 is a WIP, but a base implementation is there for `/_api/activity`. When we finalize what we want returned, we can easily add those valies.

[2016-02-09 19:51] parente commented on #96
Nice. Glad it wasn't overly complicated. Some tests will help too once the values are defined.

[2016-02-09 20:06] Lull3rSkat3r commented on #96
@parente, yes on the tests just waiting for us to finalize on what we want.

[2016-02-09 20:16] Lull3rSkat3r opened #98 "API Cell With No Output Hangs"
Code in `notebook-http` mode which has no print or return will hang. For example
[code]

[2016-02-09 21:15] dalogsdon commented on #98
Could this be related to https://github.com/jupyter-incubator/dashboards_nodejs_app/issues/56

[2016-02-09 21:15] parente commented on #98
Probably not: @Lull3rSkat3r is in `notebook-http` mode here, not the `jupyter-websocket` mode that we're using in dashboards.

[2016-02-10 00:47] rwhorman commented on #96
@Lull3rSkat3r   I like what you did there w/ additional info. I can image ways to utilize the info to smart-track, and potentially optimize the deactivation logic. ... and I can imagine how we may consider feeding some of this back to the user to inform why deactivation happened; you know, those developers as end users ;-)

[2016-02-10 00:57] rwhorman commented on #96
@lbustelo In-memory is cool. We only care while KG is up, and it comes down when we say so .. i.e. when kernels are all gone or we deem them to be sufficiently inactive.

scenario 1:  No, we wouldn't terminate a kernel if they are pushing data thru. A ticking meter is a happy meter in the cloud services world ;-)

scenario 2: I view this as falling under best practices, in that long-running jobs n

[2016-02-10 20:19] lbustelo commented on #96
@rwhorman sounds good to me.

[2016-02-11 23:08] Lull3rSkat3r commented on #96
PR #97 has all the fields in mine and @lbustelo's comments. @rwhorman, let me know if this works for you.

[2016-02-12 20:56] parente opened #99 "Override another use of jinja"
See #71 for how we fixed in the past.

[code]

[2016-02-14 16:28] rwhorman commented on #96
looks good to me @Lull3rSkat3r !  much appreciate they very quick turnaround!

[2016-02-15 13:16] parente opened #100 "Rewrite docstrings in numpy syntax"
From https://github.com/jupyter/enhancement-proposals/pull/12#issuecomment-184066113:

[2016-02-15 13:21] parente opened #101 "Create Sphinx docs for ReadTheDocs deploy"
From https://github.com/jupyter/enhancement-proposals/pull/12#issuecomment-184066113:

[2016-02-15 16:17] #96 closed

[2016-02-15 18:50] parente commented on #99
Took a step back and addressed the inconsistency in error reporting among the various handlers. The associated PR should force all error responses to JSON from here on out.

[2016-02-15 19:37] #99 closed

[2016-02-17 03:48] parente opened #103 "Proof point: See if notebook-http mode can be made a "plugin""
Right now, the code for the Jupyter Notebook APIs (`jupyter-websocket` mode) is mixed in with the code for the notebook-defined REST API (`notebook-http` mode). This was done for convenience during incubation to prove that KG could support other means (transports, APIs, and protocols) for working with  kernels. Interestingly enough, I had a conversation the other day that resulted in my thinking a

[2016-02-17 03:52] parente commented on #98
https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/services/notebooks/handlers.py#L43

Looking at the code only, I'm a bit surprised we don't break out here right away.

[2016-02-17 09:02] minrk commented on #103
:+1: thanks, @parente!

[2016-02-17 15:05] Lull3rSkat3r commented on #98
So doing a little more digging around, I found that the last method was actually returning a value. This caused a execute result to be returned which gave the following error in KG.
[code]

[2016-02-17 15:08] parente commented on #98
We're blindly trying to join both `stream` output strings and `execute_result` dictionaries. Fix is to track both separately and follow the order or output precedence outlined in the README:

1. Errors
2. stdout
3. Execute results

In the case of execution results, just dump the entire list of dictionaries. For streams, continue joining with an empty string separator. For errors, do what we're alr

[2016-02-17 15:31] Lull3rSkat3r commented on #98
PR #104 has the fix and a test case for this.

[2016-02-17 17:27] #98 closed

[2016-02-17 18:01] fperez commented on #103
+1, great writeup, thanks!

[2016-02-19 10:13] jibe-b opened #105 "Code executed on jupyter kernel from h (hypothes.is)"
Hi there,

I am a user of both jupyter notebooks and [h](https://hypothes.is) and I think about the way the h sidebar + jupyter kernel could do a similar job to jupyter kernel + notebook.

Basically, code is written in the h sidebar, a ipynb file is sent to the kernel and executed, results and errors are sent to a temporary file that is watched by the h sidebar and displayed. Finally, if the user

[2016-02-19 12:55] parente commented on #105
Thanks for opening this. I love to see ideas for new clients of Jupyter kernels!

I'm not familiar with h, but based on your description, I think the setup would be something more like the following:

1. User of h is on a site
2. User writes code in the h sidebar (e.g., in a fenced code block)
3. User selects the code and hits an execute button
4. When user executes the code for the first time, th

[2016-02-22 09:32] jibe-b commented on #105
Thanks for answering with details!

The process will likely be simple like this, and can be developed with a local h server. I only need to know more about the jupyter protocols to do it, and your description shows it is rather simple too.

I will try something in the next weeks (but don't expect it too quickly) and I may come back with further questions.

[2016-03-03 01:26] parente commented on #100
@willingc If we use the numpy docstring format, will it cause a problem later if we want to generate API doc in Sphinx? Are the other jupyter projects using this syntax with a sphinx extension to parse it? (I've only ever used the `@param foo` or `:param foo:` formats in the past with Sphinx.)

[2016-03-03 01:38] parente opened #107 "ActivityManager tuneup"
* [x] Instantiate singleton in gatewayapp for consistency with all the other managers. Put it in the app settings and ref it from there, not via a module import.
* [x] No need for dummy_map. Just make the global defaults a dict.
* [x] `ignore` grows endlessly
* [x]  ~~Instead of checking kg_list_kernels everywhere that calls ActivityManager methods, just check it in the ActivityManager instance it

[2016-03-03 03:07] parente opened #108 "/_api/ routes do not respect base_url setting"
https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/gatewayapp.py#L273 and a few more below it.

[2016-03-03 10:08] willingc commented on #100
@parente It shouldn't cause an issue. My recommendation would be to look at the JupyterHub source for docstring examples there. Doing a quick scan of the source here, I would start by convert the triple single quote docstrings to double quote docstrings.

On another note, would you like me to submit a PR with the basic Sphinx doc structure that we are using on most of the other projects?

[2016-03-03 10:58] willingc commented on #100
@parente In case, you are curious. We use Napolean as a Sphinx extension to handle the docstrings. http://sphinxcontrib-napoleon.readthedocs.org/en/latest/

[2016-03-03 13:53] parente commented on #100
OK. I'll check out Jupyter Hub's way of doing it.

That'd be great! It'll give us a leg up on https://github.com/jupyter-incubator/kernel_gateway/issues/101.

Perfect. Now I know what to target.

BTW, Is this information in the dev docs for Jupyter somewhere?  It would be handy if other would-be contributors to any of the Jupyter projects knew the rough guidelines. I see http://jupyter.readthedocs

[2016-03-03 15:43] Lull3rSkat3r commented on #107
In regards to `ignore` growing endlessly: That was implemented to prevent kernels coming back into the activity list, albeit a naive solution. You can see this problem when a kernel is shutdown and then a client disconnects.

The easiest way I can see to solve this is when kernels are added/deleted to the list the `ActivityManager` syncs with the list of kernels in the `KernelManager`. If there is

[2016-03-03 15:45] parente commented on #107
Yep. Understand why ignore exists. Just need to garbage collect it. Checking the kernel manager makes sense. Once the AcitivityManager is like the other managers and shared via settings / constructors, it'll be easy for one to ref the other.

[2016-03-03 19:40] parente opened #110 "Set env vars for kernels"
Set  `KERNEL_GATEWAY=1`  in the environment of all kernels launched by the server.

Use case: Want to include code meant for testing a notebook in the notebook server. Later, want to use the `--seed-uri` to preseed kernels with the content of that notebook but don't want the testing code to execute.

[2016-03-04 03:50] parente opened #112 "start_channels and wait_for_ready when preseeding all kernels?"
https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/services/kernels/manager.py#L65

Is this start and wait exclusive to notebook-http mode? Taking out the code entirely breaks nearly all the notebook-http mode tests. Taking out the `if` only has no visible impact.

[2016-03-04 15:26] #108 closed

[2016-03-04 15:30] Lull3rSkat3r commented on #112
It should. Technically the remainder of the function should be under the `if` as well. This [line](https://github.com/jupyter-incubator/kernel_gateway/blob/master/kernel_gateway/services/kernels/manager.py#L71) only makes sense in `notebook-http` mode.

[2016-03-04 15:33] parente commented on #112
Yes. I noticed that line too. It's not a big problem given that no cell will typically have an annotation when not in HTTP mode. But it could still be a problem in some cases (e.g., notebook serving dual duty) and shows the leakiness of the two modes. In #103, we'll look at how these might be disentangled.

[2016-03-06 04:20] parente opened #116 "Don't rebuild the swagger spec on every access"
The notebook-defined API is immutable so the spec should be too. Cache it in `SwaggerSpecHandler.initialize` after first build.

[2016-03-06 21:05] parente commented on #94
Hangs still happen, even after accounting for recent timeout problems in jupyter_client 4.2.x.

e.g., https://travis-ci.org/jupyter-incubator/kernel_gateway/jobs/113997896

I can reproduce the hang at the end of the test run reliable reliably on OSX outside our docker dev environment. Using dtruss on my mac, I see the following pattern repeated endlessly after nose logs test completion on stderr:

[2016-03-06 22:06] willingc commented on #94
Leaving this as a reminder to self to check this error.

https://travis-ci.org/jupyter-incubator/kernel_gateway/jobs/114115936

<img width="916" alt="screen shot 2016-03-06 at 2 05 16 pm" src="https://cloud.githubusercontent.com/assets/2680980/13557414/a4cc4afc-e3a4-11e5-88ba-0a016ae1a321.png">

[2016-03-07 00:32] parente commented on #94
@willingc that exception is in https://github.com/jupyter/kernel_gateway/issues/85 and rarer than the hang.

[2016-03-07 01:22] parente commented on #100
Going to keep this open to address the test docstrings as well.

[2016-03-07 18:24] #107 closed

[2016-03-07 18:31] parente commented on #107
Paired with @Lull3rSkat3r on the last two items. We agreed to leave things alone for the time being.

Moving all the checking logic into the activity manager still creates a tight binding between the notebook API and activity tracking. Only a pub/sub bus would really disentangle the two, and that seems overkill for the moment.

After looking at the code again, we settled on the mantra that activit

[2016-03-07 21:45] willingc commented on #101
Almost done with this. Still needed:

- [ ] Text for Changelog and summary of changes for v5.0

[2016-03-07 21:51] parente commented on #101
v0.5.0 is still a bit out. We've been updating the changelog with a PR just before release. Is the goal to do it along the way now?

[2016-03-07 22:02] willingc commented on #101
Ahh...thanks for clarifying. I thought this was already 5.0. In that case, when you do the blog post are you mentioning a release number. If so, if you create a tag for the release number (or bump to 0.4.x) then the Sphinx docs will build as that release number. Otherwise the docs will be tied to master (the future 0.5.0) until it is tagged and released.

[2016-03-07 22:06] parente commented on #101
I think it's OK to live with master for the moment. All the existing stable branches / tags have the equivalent docs in the README. And the goal of the post is only to state that KG has left the incubator and describe what it is.

[2016-03-07 22:10] willingc commented on #101
Perfect :sunny:

[2016-03-07 22:10] willingc commented on #101
Should we go ahead and close this?

[2016-03-07 22:11] parente commented on #101
I was going to take one more pass through the README and docs site to see if there are any glaring issues. If not, I'll close and we can fix anything with follow on PRs.

Thanks again @willingc for getting this bootstrapped so quickly!

[2016-03-07 22:15] willingc commented on #101
My pleasure :D You have been very responsive which makes my job easier. I expect we will iterate with future PRs on this.

I'm still motivated to figure out the Travis issue too.

[2016-03-08 01:35] guiwork opened #121 "Running kernelgateway produces: ImportError: No module named nbformat"
Tried to follow installation instructions using pip. Building on Ubuntu 14.04 machine with Python 2.7.6 and pip 1.5.4. I'm wondering if this has to do with zmq as the first try at installing I did not have the header files on my system which I later installed (libzmq-dev).

[code]

[code]

[2016-03-08 02:36] parente commented on #121
Looks like we have a missing prereq requirement. Odd considering I thought notebook required nbformat.

[2016-03-08 02:37] parente commented on #121
Can you try upgrading your version of `pip`?

[code]

[2016-03-08 19:09] guiwork commented on #121
I was using the python-pip package from my Ubuntu system. I went ahead and removed that package and then used the get_pip.py script to get pip installed again. I had to install again the python2.7-dev package as my Python header files were removed. I then tried the command you suggested, followed by "sudo pip install jupyter_kernel_gateway" and it successfully installs.

Thanks

[2016-03-08 19:09] #121 closed

[2016-03-08 19:44] parente commented on #121
Cool. Thanks for opening and reporting back.

[2016-03-08 22:33] Carreau opened #124 "Image to represent Kernel Gateway."
@parente will publish a blog post on blog.jupyter.org.

It would be nice to have an image that kind of represent the kernel gateway to put on top.
Or more generally a logo that can be reused on slides ETC...
Thought ?

[2016-03-09 02:09] parente commented on #124
Do you mean a logo or a diagram of how it might get used?

[2016-03-09 03:18] parente opened #125 "tmpkg anyone?"
I wonder if we should stand up an open access pool of kernel gateways using tmpnb for the community to use. Something like https://tmpkg.org

Reasons:
- Gives the community a place to experiment with new kernel clients (e.g., of the last couple hours https://twitter.com/OpenAnalytics/status/707326388500570112)
- Takes load caused by these experiments off the try jupyter notebook cluster which is m

[2016-03-09 03:27] #116 closed

[2016-03-09 06:43] Carreau commented on #124
More logo-ish. Something to put in the background like for https://blog.jupyter.org/2016/02/16/jupyterdays-boston-2016/.

But you've already published so it's fine! Thanks for the Blog post !

[2016-03-09 09:49] minrk commented on #125
That seems like a good idea. We could still run it on tmpnb.org/kernelgateway.

[2016-03-09 16:09] rgbkrk commented on #125
Yeah, we'd end up keeping two separate redirectors (and pools underneath). :+1:

[2016-03-11 03:33] parente commented on #94
@minrk I'm thinking the dtruss trace above is either some tornado or zeromq component doing something endlessly on the ioloop. I don't know why this would cause the process to hang if we stop the loop. But to be certain, is there some function we can use to clear out everything registered on the zmq provided ioloop?

Alternatively, does pyzmq / zmq do anything on a thread that could be stuck runni

[2016-03-11 13:40] parente commented on #100
Test docstrings are all in. Closing.

[2016-03-11 13:40] #100 closed

[2016-03-11 13:40] parente commented on #101
@willingc I notice the edit on GitHub link on the readthedocs site is busted. It assumes the files are *.rst on github. Any way to fix?

[2016-03-11 14:24] willingc commented on #101
@parente Good catch. After some sleuthing, I found this is an underlying bug in Sphinx. Its fix is in the 1.4 alpha release of Sphinx but has been backported to 1.3.6. I've opened a PR #127 to use Sphinx 1.3.6+. Seems to work correctly with the change.

[2016-03-11 14:25] willingc commented on #100
Awesome!

[2016-03-11 21:26] #110 closed

[2016-03-11 21:41] parente opened #128 "Pass environment metadata to kernels on POST /api/kernels"
Make it possible for clients to pass additional metadata through when creating kernels and have that metadata show up in the kernel environment.

Use case: passing secrets to kernels from clients without having those secrets hardcoded at KG start or having to pass them via code execution on the websocket.

For example:

[code]

The notebook API spec does not support the "env" key. I'm proposing ex

[2016-03-11 21:41] parente commented on #128
/cc @minrk @rgbkrk @nitind

[2016-03-11 22:17] rgbkrk commented on #128
Big fan of that. Especially since the token is created by the user at the start.

/cc @jdfreder

[2016-03-12 10:44] minrk commented on #128
If we did this, it should blacklist certain environment variables, such as PATH, PYTHONPATH, etc.

[2016-03-12 19:22] parente commented on #128
Agreed. Or how about whitelisting anything with a `KG_*` prefix?

[2016-03-15 13:37] parente commented on #128
Working on this. Note: needs jupyter_client 4.2+ for this fix: https://github.com/jupyter/jupyter_client/commit/c446df389977090359000b80dbe3b0c03d1302ac

[2016-03-15 14:27] parente commented on #94
I put a `teardown` function into the tests package __init__.py to log some information and try to force a shutdown of the ioloop.

[code]

The hang still happens. When it does, only the main thread is in the list of running threads. Yet something is still ticking away according to dtruss trying to do a socket connect endlessly.

zmq thread outside of Python?

[2016-03-15 14:50] parente commented on #94
May have hit on success with:

[code]

I've got the test suite running in an infinite loop on my mac where I hit the hang. If it continues unabated for 30 minutes or so, I'll try a PR and see what Travis does.

[2016-03-15 15:41] parente opened #131 "Kernel launch failure when address is in use"
Rarely when running the jupyter/kernel_gateway test suite, the tests fail with the following exception due to a race condition between two kernels using the same port:

[code]

IIRC, the port assignment is requested by a client (e.g., via a connection file). Having the kernel retry on another port means the client won't be able to communicate with that kernel.

Is this behavior spec'ed somewhere?

[2016-03-15 15:41] parente commented on #131
This captures the exception @willingc saw in #94 which is about to close I think.

[2016-03-15 15:46] #94 closed

[2016-03-15 15:49] parente commented on #101
I've been referring to the docs myself a few times over the past week. I haven't hit any other issues. I'm going to close this as done. We can make improvements to the doc content and structure over time.

[2016-03-15 15:49] #101 closed

[2016-03-15 16:04] willingc commented on #101
Great!

[2016-03-15 16:05] willingc commented on #94
@parente Nice sleuthing.

[2016-03-15 16:06] parente commented on #131
Turns out another one was captured in #85. Keeping this one since the trace is cleaner.

[2016-03-15 16:06] #85 closed

[2016-03-15 16:06] parente commented on #85
Dupe of #131.

[2016-03-15 16:11] parente commented on #14
We've been slowly adding additional endpoint checks as we go. I don't think we need to expend a ton of effort on making sure every single option / endpoint is tested at the moment.

I'll enable test coverage stats next.

[2016-03-15 18:42] parente commented on #112
I think we should attempt removing the `if` and initialize the channel in both `notebook-http` and `jupyter-websocket` modes. @nitind can you make this simple change and see if anything breaks in the test suite or some of the demos?

[2016-03-15 18:44] parente commented on #124
Do we still want a logo? There's no UI at all in the KG so not sure where else it would be used. And the typical Jupyter logo probably covers talking about it on charts, etc.

[2016-03-15 20:32] nitind commented on #112
On it.

[2016-03-16 09:04] minrk commented on #131
The sequence of events is:

- KernelManager finds a few available ports
- KernelManager writes those ports to connection file
- KernelManager starts the Kernel, pointing it to connection info
- Kernel starts, reads connection file, binds to those ports

You are right that the kernel can't select a new port, because the manager wouldn't know about it. If the kernel fails to start (for any reason),

[2016-03-17 04:18] parente commented on #14
Coverage stats look fine. Closing.

[2016-03-17 04:18] #14 closed

[2016-03-17 12:36] parente opened #135 "Swagger spec at /api/spec.yml"
Problem: https://github.com/jupyter/kernel_gateway/issues/96 introduced a new API. We've got nothing in the doc about it or otherwise. Also, #133 might introduce changes to `POST /api/kernels`.

* [x] Put our own swagger doc that starts from https://github.com/jupyter/notebook/blob/602b5c945d9fb2a9c8a21e65f7ab54be2578257f/notebook/services/api/api.yaml at `/api/spec.yml`. The notebook server alrea

[2016-03-17 12:37] parente commented on #135
/cc @Lull3rSkat3r

[2016-03-17 19:13] parente commented on #131
This is what I'm after here. I saw this happen today outside of the test cases in the KG logs. It certainly kept trying to restart the kernel again and again, but always using the taken port.

Restarting the process from the top is probably the way to go here. There's always going to be a race condition between finding ports and using them in the kernel process so best we can do is retry with new

[2016-03-18 15:03] nitind commented on #112
Code path only applies when a seed notebook is being used. I haven't seen any issues with the change in automated and manual tests.

[2016-03-18 15:23] parente commented on #112
Go ahead with a PR then. The less if/else for the modes we have, the better off we are for #103

[2016-03-19 20:00] #112 closed

[2016-03-21 14:07] parente commented on #135
Make sure the optional Authorization headers are documented as part of this.

[2016-03-21 14:15] poplav commented on #131
From initially tracing the logic of starting to polling to restarting I found https://github.com/jupyter/jupyter_client/blob/master/jupyter_client/manager.py#L335.  On the call to shutdown kernel the restart parameter is controlling whether the connection file is cleaned on invocation, where it is not being cleaned on a restart.
Is a valid approach to attempt to override the behavior of restart_ke

[2016-03-21 14:53] minrk commented on #131
What might be tricky is that we really have to distinguish failure to start the first time and normal restarts. Normal restarts **should not** change the port info, this should only even be considered when the kernel has failed to start at all.

[2016-03-22 20:55] rgbkrk commented on #135
Hoorah, happy about Swagger here.

[2016-03-23 00:40] #128 closed

[2016-03-30 19:40] parente opened #143 "Bit of doc restructuring"
Just some notes for tweaking the docs:

* [x] Maintenance section for developers, with things like when / how to update the swagger spec
* [x] Use cases to replace interesting uses, definitely more for jupyter-websocket mode, point directly to demos, point to the messaging spec
* [x] Admonition about the notebook-http mode maybe moving to a plugin / separate repo one day
* [X] ~~Intended audience

[2016-03-30 19:41] parente commented on #143
I'll tackle this for 0.5.0.

[2016-03-30 21:11] Lull3rSkat3r commented on #135
Will be fixed with PR #142

[2016-03-31 05:34] #135 closed

[2016-03-31 15:30] parente commented on #131
Would be nice if we implement our own subclass of IOLoopKernelRestarter and set it as the _restarter trait in the KernelGatewayIOLoopKernelManager class, if we could override the poll logic to have it distinguish failed to launch at all from failed to restart later. Not sure what to key off of for that.

I think @poplav tried this, but we saw exceptions before the restarter even had a chance to ki

[2016-03-31 17:42] #92 closed

[2016-03-31 17:42] parente commented on #92
Thanks @Lull3rSkat3r. :cake:

[2016-04-01 07:20] parente opened #146 "Missing some part of API in swagger.yml"
* Kernel restart and interrupt https://github.com/jupyter/notebook/blob/master/notebook/services/api/api.yaml#L496
* The /api/swagger.yaml and /api/swagger.json endpoints
* The /api endpoint

[2016-04-01 07:20] parente commented on #146
/cc @Lull3rSkat3r

[2016-04-01 14:51] Lull3rSkat3r commented on #146
PR #148 will close this

[2016-04-01 22:09] #146 closed

[2016-04-04 17:20] #143 closed

[2016-04-06 15:04] dockter-84 opened #151 "Find an open port in a range of ports"
In jupyter_core, there is an option to set `NotebookApp.port_retries` to specify how many ports to try "above" the initially specified port, `NotebookApp.port`, to find the first available open port.

https://github.com/jupyter/jupyter_core/blob/62af662a4b21fef6223ef04ff6d2f2e1cc536181/jupyter_core/tests/dotipython_empty/profile_default/ipython_notebook_config.py#L28

We would like a similar optio

[2016-04-06 15:46] parente commented on #151
Thanks for opening this. It should be easy to port the logic from the notebook server here:

https://github.com/jupyter/notebook/blob/master/notebook/notebookapp.py#L980

[2016-04-07 19:15] #151 closed

[2016-04-15 16:28] rwhorman opened #153 "Timeout when creating new kernel and establishing websocket 1st time, second attempt works"
Topology here is client (nodejs or python client from https://github.com/jupyter/kernel_gateway_demos) talks to an nginx reverse proxy that passes to upstream kernelgateway (kg).

When creating a kernel, the proxy times out waiting for kg to respond to new kernel request:

[code]

On the kg side, the kernel create request comes in to kg as follows

[code]
And kg sits at this point and we eventuall

[2016-04-15 16:52] parente commented on #153
@minrk can you confirm my memory that tornado will not log this until it has completed sending a response?

[2016-04-15 17:27] parente commented on #153
@rwhorman Here's an example docker / docker-compose setup I've been growing for a while to check different cases manually.

https://gist.github.com/parente/2d3ff03a2e4e1b0aa1c0

I just added nginx 1.7.6 to the mix along with a really simple nginx.conf. It seems to work well no matter how many times I hit it. I'm not saying it's a drop-in replacement for your own proxy config, but it's a point of c

[2016-04-18 08:52] minrk commented on #153
@parente yes, the log statement comes after the response has been sent

[2016-04-20 15:42] parente opened #154 "Update to match the spec change in notebook 5.0 for session metadata"
https://github.com/jupyter/notebook/pull/1359

Update the swagger.yml and simple session mgr implementation here to match.

[2016-04-20 15:47] parente opened #155 "SessionManager API change in notebook 4.2"
We state in the setup.py that we're 4.0 and up compatible. But looks like something in notebook 4.2 changed that might be breaking us:

https://travis-ci.org/jupyter/kernel_gateway/builds/124508434

[2016-04-20 15:54] parente commented on #155
https://github.com/jupyter/notebook/pull/1237 changed the session handler. We only override GET on that handler to guard against session listing if a flag is set, but it's the POST that's failing. Most likely, our session manager needs to be made forward compatible.

[2016-04-20 15:58] parente commented on #155
Yea. Right here.

https://github.com/jupyter/notebook/pull/1237/files#diff-c17b8b3e48aa051099afe81741f6baf1R67

@minrk @blink1073 is the SessionManager interface considered a declared public interface that people can override? If so, passing the new `kernel_id` in 4.2.0 (https://github.com/jupyter/notebook/blob/4.2.0/notebook/services/sessions/handlers.py#L62) is an incompatible API change. If not

[2016-04-20 16:02] blink1073 commented on #155
I don't see the specific problem.  That is a feature addition, in that if the specified kernel is already running, you get a handle to the kernel.

[2016-04-20 16:05] parente commented on #155
I mean SessionManager is one of those plug-points in Notebook server. You can configure Notebook to run with a custom SessionManager via the command line or config files:

https://github.com/jupyter/notebook/blob/master/notebook/notebookapp.py#L742

I'm wondering if the SessionManager class interface is considered public API as a result or not.

The fix here is easy. Update the KG SessionManager i

[2016-04-20 16:08] blink1073 commented on #155
Ah, I see what you mean now.  Yes, this was a breaking API change.

[2016-04-20 16:46] #155 closed

[2016-04-20 16:55] dockter-84 opened #157 "Pull request #152 into version 0.4.x"
Can you "retro-fit" or "backport" the change seen in  https://github.com/jupyter/kernel_gateway/pull/152 into the 0.4.x branch?

At the moment we are not able to move to a 0.5 version,  but we would like this feature in a minor revision of 0.4.

[2016-04-20 17:13] parente commented on #157
Lucky day. I'm backporting #156 to 0.4.1 and 0.5.1 where we declared compatibility up to 5.0. Can put the retries in too.

[2016-04-20 17:39] parente commented on #157
Cherry picked and made the releases on the respective branches with this requested change and #156 to account for notebook 4.2 breaking change.

Occurs to me that just doing the cherry pick locally, tagging, releasing, and pushing on the branches is what I've been doing when only a few folks were working on this. There's probably a more careful / formal way that I should be doing it via PRs in the

[2016-04-20 17:45] parente commented on #157
Ref: https://github.com/jupyter/kernel_gateway/tree/0.4.1

[2016-04-20 17:45] #157 closed

[2016-04-21 08:33] minrk commented on #155
@parente sorry about that, I didn't see that when I backported it to 4.2, which I maybe shouldn't have done. I think there's a good chance that you have the only custom SessionManager, since it's not exactly a well-documented API, but it is technically public.

[2016-04-21 11:56] parente commented on #155
I concur. No worries. It's definitely a non-obvious case of API change (i.e., adding an optional parameter breaks backward compatibility).

[2016-04-21 12:10] blink1073 commented on #155
Technically it could be made backwards compatible by using `inspect` or checking for the `TypeError`, do you think it would be worth it?

[2016-04-21 12:29] parente commented on #155
Would have to go here, minimally:

https://github.com/jupyter/notebook/blob/master/notebook/services/sessions/handlers.py#L61

Not worth the trouble if KG is the only known provider of a custom SessionManager in existence. I backported the fix to the last two minor versions that declared notebook >=4.0,<5.0 compatibility and have the session manager implementation.

[2016-04-27 21:40] rwhorman commented on #153
false alarm ... turned out to be a proxy issue. nm. carry on, nothing to see here ;-)

[2016-04-27 21:40] #153 closed

[2016-04-27 21:58] rwhorman opened #158 "max kernels breached yields 402 -- Payment required ... but i ain't payin' !"
Officially, [w3](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html) says:

[code]

Seems like a tad harsh of a punishment for breaching this max ;-) Not to mention, this really isn't officially a status code in play at this time.

So how about this as an alternative:

[code]

This seems appropriate because, indeed, kernel-gateway cannot fulfill the request. Further, the response can include

[2016-04-28 00:16] parente commented on #158
The reasoning for 402 came from https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error

Reserved for future use. The original intention was that this code might be used as part of some form of digital cash or micropayment scheme, but that has not happened, and this code is not usually used. Google Developers API uses this status if a particular developer has exceeded the daily li

[2016-04-28 00:36] rwhorman commented on #158
Words like "this code is not usually used" and "reserved for future use" strongly suggest to stay away. That being as it is, "payment required" is strange for open source software in general, let alone the unknowability of the use cases in which kernel-gateway could be utilized and what this message means contextually.

To me it goes like this ...
gimme a kernel ... thx
gimme a kernel ... thx
gimm

[2016-05-11 07:53] gavrand opened #159 "# ResponseInfo GET ignored for some Kernels"
Hi

I am using Apache Toree as Jupyter Kernel and ResponseInfo is being ignored for it. It is working perfectly with standard Python2 Kernel. #Get does work perfectly !

I guess it is due to "shortcut" is being used to produce response_code in /services/notebooks/handlers.py (line 199)
[code]
instead of full packing for request_code (line 180)
[code]
and hence remote Apache Kernel (interacting via

[2016-05-11 11:35] parente commented on #159
Thanks for the report, @gavrand . Can you confirm which mode you're running the kernel gateway in, with jupyter websockets or notebook http? Basically, what's your run command for starting the kernel gateway?

[2016-05-11 11:47] gavrand commented on #159
Hi Peter

Thank you for the prompt reply. It is indeed notebook-http.
The run cmd is below

`
jupyter kernelgateway --KernelGatewayApp.api=notebook-http --KernelGatewayApp.ip=0.0.0.0 --KernelGatewayApp.seed_uri=./notebook.ipynb --KernelGatewayApp.default_kernel_name=PySpark
`

Thank you
Andrey

[2016-05-11 12:27] parente commented on #159
@Lull3rSkat3r mind taking a look at this?

[2016-05-11 14:06] Lull3rSkat3r commented on #159
I'll check it out.

[2016-05-11 14:23] Lull3rSkat3r commented on #159
@gavrand, are you running Apache Toree with the scala or python interpreter?

[2016-05-11 14:36] gavrand commented on #159
Hi @Lull3rSkat3r. It is python interpreter.

Again, #Get is working perfectly. It is only ResponseInfo where I am struggling and hence could not dump application/json :(.
If you want I could try scala one also.

Thank you
Andrey

[2016-05-11 14:46] Lull3rSkat3r commented on #159
@gavrand, would it be possible to attach your notebook?

[2016-05-11 14:54] gavrand commented on #159
Hi @Lull3rSkat3r

I am afraid, I am unable to send it from work by compliance reasons.
But the example from the github /kernel_gateway/tests/resources/responses_2.ipynb
does not work with Apache Toree Kernel also (the simplest one # GET /json)

Andrey

[2016-05-11 15:10] Lull3rSkat3r commented on #159
@gavrand, no worries. I will use the example notebook. Will post my results soon.

[2016-05-11 16:13] parente commented on #103
@nitind and I spoke about this face-to-face. I think it's worth taking a crack at this now since "all's quiet on the western front" at the moment. Basics we discussed:

* try the plug-in approach first, don't worry about separate repos and so on
* identify where we're doing if/else checks for mode and think about refactoring that into separate packages named after the mode (e.g., `jupyter_websocke

[2016-05-19 17:10] Lull3rSkat3r commented on #159
So investigating this in more detail exposed a bug in the Toree Kernel. Essentially the PySpark interpreter in Toree is returning `print` messages as an execute result. The KG code currently expects the code to output the response info via a stream message. You can see this by running a code cell in Toree PySpark:

![pyspark bug](https://cloud.githubusercontent.com/assets/1383927/15402437/d2c19418

[2016-05-20 08:03] gavrand commented on #159
Thank you very much for investigation, Corey !

Andrey

[2016-05-23 09:33] nitind commented on #103
The bulk of the branching is done in gatewayapp.py itself, one for choosing the kernel pool implementation, the other for populating the list of request handlers. Breaking them out into different modules to understand how much of the main app they need would be a start.

[2016-05-23 16:36] fxlex opened #160 "Uncaught exception in /api/kernels/xxx/channels"
I am trying to open a new session and send two commands to this session. The general error message is: ValueError: No JSON object could be decoded. Full log below.
[code]

[2016-05-23 16:39] parente commented on #160
Thanks for the report. Can you share what client you're using to trigger the error and what version of Jupyter notebook you also have installed (`pip freeze | grep notebook`)?

[2016-05-23 16:46] fxlex commented on #160
The server and connecting java application (using web socket) are running on a Mac. The installed notebook version is notebook==4.2.0.

[2016-05-23 17:07] parente commented on #160
I suspect that the client is not sending what the Jupyter protocol dictates. The exception is being thrown down in the notebook kernel handler code, not in any kernel gateway code, and I'm pretty certain the notebook 4.2 code works properly with IRKernel.

Can you try this experiment? Instead of running `jupyter kernelgateway` can you just run `jupyter notebook --allow_origin='*'` and point your c

[2016-05-23 18:44] fxlex commented on #160
Thank you for the help, I figured it out myself. The reason was malformed json send to the server.

[2016-05-23 18:44] #160 closed

[2016-05-25 14:53] jtyberg opened #162 "/api/swagger.json returns 404"
I'm running the 0.5.1 kernel gateway locally, and I get a 404 when I try to hit:

[code]

It appears that the swagger.json might be missing?

[2016-05-25 15:07] parente commented on #162
Looking at the setup.py, I think we're not shipping the json and yaml file in the build accidentally.

[2016-05-25 16:47] #162 closed

[2016-05-26 02:10] parente opened #164 "KG_AUTH_TOKEN and other config parameters visible to kernels"
Any env vars used to configure the kernel gateway process are passed through into the environment of  kernels launched by the gateway. They should be stripped.

[2016-05-26 13:13] parente commented on #164
https://github.com/jupyter/jupyter_client/blob/02f9c580f6533ba97d1fed7157bef80c69f0f4ed/jupyter_client/manager.py#L231 copies the environment.

We have the opportunity to manipulate the env before the kernel is launched here: https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/services/kernels/manager.py#L104

[2016-05-27 20:05] #164 closed

[2016-05-31 15:33] dockter-84 opened #166 "A pointer to the format of the configuration file"
Although the command line options are nicely documented at http://jupyter-notebook.readthedocs.io/en/latest/config.html

The use of the options in a config file are vague.  That is:  what is the format of the file specified by `--KernelGatewayApp.config_file=<Unicode>`

According to @parente,  "Config system comes from notebook, and even they don’t have it fully spec’ed. they recommend running —ge

[2016-05-31 16:36] parente commented on #166
@minrk or @willingc Is there any other doc on the .py file config format that I might have missed?

[2016-06-07 17:08] gavrand opened #167 "Disposing Running Kernels by Ctrl_C in RHEL"
Hi

Would be great if you could help me with the following problem.
I am running KernelGateway:

`jupyter kernelgateway --KernelGatewayApp.api='notebook-http' --KernelGatewayApp.ip=0.0.0.0 --KernelGatewayApp.port=8090 --KernelGatewayApp.seed_uri=<.ipynb> --KernelGatewayApp.max_kernels=1`

against Spark Cluster.

When I am trying to kill the process with CTRL+C it dies successfully (I can't see jup

[2016-06-09 13:02] parente commented on #167
The notebook server seems to suggest that the kernels should clean themselves up when their parent process dies:

https://github.com/jupyter/notebook/blob/master/notebook/notebookapp.py#L1151

It still sends an explicit shutdown request to cleanup connection files anyway:

https://github.com/jupyter/notebook/blob/master/notebook/notebookapp.py#L1251

The KG should probably dispose of the pool to c

[2016-06-10 13:56] gavrand commented on #167
Thank you, @parente for having a look.

I think there is no problem with Notebook. when I close a notebook via UI (Close and Halt) or Ctrl+C on jupyter notebook it indeed cleans everything perfectly. I see shutdown log msgs from Toree and the Kernel disappear from Running Applications list in Spark Cluster UI.
I guess it is happening precisely from this
https://github.com/jupyter/notebook/blob/mas

[2016-06-10 14:07] parente commented on #167
I agree there is no problem with the notebook. I was wondering if there is a proble with toree.

Regardless the explicit shutdown should be added to KG.

[2016-06-10 14:13] Lull3rSkat3r commented on #167
@parente and @gavrand  we have two methods which could shutdown the kernels. One for the [KernelPool](https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/services/kernels/pool.py#L29) class and one for the [ManagedKernelPool](https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/services/kernels/pool.py#L154) class. Both methods get called from the `gatewayapp`'s [s

[2016-06-10 14:50] gavrand commented on #167
Apologies for my ignorance, Corey - but would CTRL+C cause gatewayapp's shutdown method to be called ?

[2016-06-13 19:08] nitind commented on #103
Clarifying the changes being implemented:
- changing "API" parameter from a string to a fully qualified module name
- moving the current jupyter-websocket and notebook-http functionality into their own modules, not buried in `services/`
- relocate functionality specific to either mode into their modules

[2016-06-15 13:36] parente commented on #166
Found it: https://jupyter.readthedocs.io/en/latest/projects/config.html

[2016-06-15 13:36] #167 closed

[2016-06-15 14:42] #166 closed

[2016-06-16 15:36] #158 closed

[2016-06-17 03:10] parente commented on #103
@nitind, I think you've got a clear path toward making "personalities" as you call them pluggable. I'd like to make a release of KG 0.6.0 now with the other fixes that have gone in, and start merging the PRs you stated in the prior comment into 1.0.0.dev in master, leading up to a 1.0 release where we declare the API stable and start semantic versioning.

@minrk, @fperez does that make sense to yo

[2016-06-17 03:24] parente commented on #159
Tracing through the issue @Lull3rSkat3r noted above, it appears this problem has been fixed by https://github.com/apache/incubator-toree/pull/47.

Going to close here since the problem was in the dependency.

[2016-06-17 03:24] #159 closed

[2016-06-17 07:41] minrk commented on #103
Makes sense to me, thanks @parente and @nitind!

[2016-06-17 15:33] parente commented on #16
@jtyberg has implemented a demo flavor of option 3 from the wiki page from way-back-when over in https://github.com/jupyter/kernel_gateway_demos/pull/21

Going to close this issue out. We can continue the convo over in the PR.

[2016-06-17 15:33] #16 closed

[2016-06-17 15:38] parente commented on #103
@nitind, I added the list from your previous comment to the description and turned it into one of those checkbox todo lists so we don't lose track across the handful of PRs this is going to take to close.

[2016-06-28 18:11] parente commented on #103
With #177 in, I think we can close this. @nitind, you can do the honors if you agree. Thanks for all the work on this. It's great.

[2016-06-28 18:14] nitind commented on #103
Closing.
/me raises the roof

[2016-06-28 18:14] #103 closed

[2016-07-06 15:15] willingc commented on #124
@parente @Carreau Is this ready to close?

[2016-07-06 16:51] parente commented on #124
My 2 cents: I don't think we need a special logo.

[2016-07-06 18:32] #124 closed

[2016-07-15 19:45] parente opened #178 "Test failure when using tornado 4.4"
Can't have a 1.0 release without a new bug! Thankfully, it's an edge case caught by our tests.

[code]

[2016-07-15 19:51] parente commented on #178
[code]

[2016-07-15 20:22] #178 closed

[2016-07-20 08:37] Engine-Treasure opened #181 "Unable to kill the subprocess of kernel_gateway"
I have just got problem in kill the subprocess of jupyter kernel_gateway. There was no way I could find to kill the subprocess except killing the parent process first. I found that command **kill** had worked, but **Zombie** process was left. Then the parent process recreated the subprocess on the Zombie process.
[code]
As shown above, the subprocess was never killed. With the increase of the numb

[2016-07-20 09:02] Engine-Treasure commented on #181
I run  the jupyter kernel_gateway manually in terminal. There is the result:

[code]
Then it got a request and spawned a subprocess. As I tried to kill the subprocess, it just restarted.

[code]

[2016-07-20 10:47] parente commented on #181
Are you running the kernel gateway in docker? If so, you need a proper init process like tini which we use over in the docker stacks project. Jupyter notebook / tornado, which KG is using under the covers, is not designed to be pid 0 on a system and so runs into oddities with dead or defunct children.

Also, if you want to shutdown a kernel cleanly without kill, you should send a HTTP DELETE to th

[2016-07-20 14:23] Engine-Treasure commented on #181
You guess right. And thank you for your suggestions~

[2016-07-21 07:32] Engine-Treasure commented on #181
@parente
Finally, I found that the restart was done by **Jupyter Notebook**, not **kernel_gateway**. It's nothing to do with **Zombie process**. The right way to shutdown the kernel is send a HTTP DELETE to the API (just what you said).
I'm sorry for my ignorance. Thank you again~

[2016-07-21 07:32] #181 closed

[2016-08-01 16:35] rs2 opened #185 "Is it possible to use the http mode from a notebook served via the jupyter notebook command?"
My use case:
- Serve a notebook using the `jupyter notebook` command AND have some of its cells also available in http mode without separately executing jupyter kernelgateway`for the same`ipynb` file.

Is that supported?

[2016-08-02 13:49] Lull3rSkat3r commented on #185
@rs2, no that is currently not available. Trying to understand your use case more are you looking to test the notebook while developing it?

[2016-08-09 15:28] nitind opened #187 "dev image failure from missing dependency"
Seems like a new problem, but building the dev/test image consistently fails if the "enchant" library is not present.

Sending build context to Docker daemon 7.418 MB
Step 1 : FROM jupyter/pyspark-notebook:8015c88c4b11
 ---> c91e35ede0a0
Step 2 : RUN conda install -y nose &&     conda install -y -n python2 nose
 ---> Running in 81081602fc47
Fetching package metadata: ......
Solving package specifi

[2016-08-11 18:15] #187 closed

[2016-08-22 19:50] crawles opened #190 "ERR jupyter_client.kernelspec.NoSuchKernel: No such kernel named XXX"
Ran into this issue by creating a notebook in one environment and then trying to run in a different environment jupyter gateway with notebook-http personality. Both environments are running Python 3.5.2

The issue comes from jupytergateway.py, which gets the kernel name from the .ipynb file:

`kernel_name = notebook['metadata']['kernelspec']['name']`

Creating the notebook in this first environmen

[2016-08-22 20:55] crawles commented on #190
related https://github.com/conda/conda/issues/3094

[2016-08-23 02:15] parente commented on #190
The other solution is to make sure the environment used during development of the notebook is available to the kernel gateway. In fact, this is the only real way to ensure reproducibility between the notebook and kernel gateway.

Forcing a specific kernel via the command line when the notebook metadata is requesting something else feels wrong, though I'm not sure what the best practice is here.

[2016-08-23 17:18] crawles commented on #190
Agreed about other solution of same environments and think this would be best case scenario when possible. IMO there should be another solution when this is not the case- e.g., using jupyter gateway to deploy model on a production server that has a different environment than the developer is using.

The current solution to opening a .ipynb file with unknown kernel in the notebook prompts the user

[2016-08-23 19:10] parente commented on #190
The kernel name mismatch is the least of your worries when prod environment doesn't match dev. But I get your point. The kernel name field is sort of a wild west where python3-with-extra-stuff-in-the-env is a valid name. Letting ops override what's captured in the notebook seems reasonable for tackling this part of the env mismatch problem.

[2016-08-31 07:44] rs2 opened #191 "How to specify seed URI or switch on notebook-http mode using a running kernel gateway?"
1. Start the gateway using `jupyter kernelgateway --KernelGatewayApp.ip=0.0.0.0`
2. How to enable the `notebook-http` mode using the above `gateway` process, e.g. how to set `KernelGatewayApp.seed_uri=/foo/bar.ipynb`?

Ref: https://jupyter-kernel-gateway.readthedocs.io/en/latest/http-mode.html

[2016-08-31 11:12] parente commented on #191
The running section on that page has a complete command line example:

https://jupyter-kernel-gateway.readthedocs.io/en/latest/http-mode.html#running

[2016-08-31 14:24] rs2 commented on #191
Thank you, I am well familiar with those. My question is, once kernel gateway is started `without` the `seed_uri` argument, is there a way to specify such a notebook (or a cell?) using the API?

[2016-08-31 14:31] rs2 commented on #191
Is there a swagger spec that one can have a look at?

`/_api/spec/swagger.json` says `{"reason": "Not Found", "message": ""}`
`/api` says `{"version": "4.2.1"}`

[2016-08-31 18:08] nitind commented on #191
@rs2 No, it is not something you can change and have properly reflected after the Kernel Gateway is already up and running. When in notebook-http mode, the swagger will reflect the seed notebook. In which mode did you get what I have to guess was a 404?

[2016-09-05 03:30] #190 closed

[2016-09-08 03:41] parente commented on #105
@jibe-b I'm going to close this issue. If you did attempt the h experiment, feel free to let us know the outcome in new issues or in the Jupyter Google group.

[2016-09-08 03:41] #105 closed

[2016-09-08 03:47] parente commented on #36
I'm not sure there's much we can do on this one, especially now that we support api/personality plug-ins from arbitrary Python packages. The list of classes and their traitlets is never known up-front.

I think we can close. If traitlets, notebook, or other Jupyter projects find a nice solution, we'll adopt it.

[2016-09-08 03:47] #36 closed

[2016-09-13 06:55] awenhu opened #194 "how to handle chinese( utf-8)"
I using the kernel gateway in jupyter notebook, when I test the api,  cannot display chinese correctly.

[2016-09-13 11:06] parente commented on #194
Can you provide an example notebook and state how you're running the kernel gateway so that we can use it to debug and create a test?

[2016-09-14 16:33] Lull3rSkat3r opened #195 "`notebook-http-mode` for different kernels"
When trying to get the `notebook-http-mode` running with Apache Toree, I needed to change the code comment parsing and the creation of the `REQUEST` string. I changed the values inline, but we should probably discuss how to make this pluggable.

[2016-09-21 01:12] parente commented on #195
What did you need to change about the creation of the REQUEST string? We doc that it's up to the notebook user to declare it as a `var` in the notebook ahead of its first use. Is there something else wrong with it?

https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/notebook_http/request_utils.py#L25

For comments, I thought we had a dictionary mapping kernel language to comment

[2016-09-21 01:26] parente commented on #195
Comment map:

https://github.com/jupyter/kernel_gateway/blob/1394b93908646a1d2a31f94fd407a38ba497e9b8/kernel_gateway/notebook_http/cell/parser.py#L70

[2016-09-27 12:47] awenhu opened #197 "No such kernel named conda-root-py"
[KernelGatewayApp] Searching [u'/root', '/root/.jupyter', '/mnt/anaconda2/etc/jupyter', '/usr/local/etc/jupyter', '/etc/jupyter'] fo
r config files
[KernelGatewayApp] Looking for jupyter_config in /etc/jupyter
[KernelGatewayApp] Looking for jupyter_config in /usr/local/etc/jupyter
[KernelGatewayApp] Looking for jupyter_config in /mnt/anaconda2/etc/jupyter
[KernelGatewayApp] Looking for jupyter_con

[2016-09-27 13:01] parente commented on #197
@awenhu Can you share the command you're using to start the kernel gateway?

[2016-09-27 13:18] awenhu commented on #197
jupyter kernelgateway --KernelGatewayApp.api=notebook-http --KernelGatewayApp.ip=0.0.0.0 --KernelGatewayApp.port=15001 --KernelGatewayApp.prespawn_count=2 --KernelGatewayApp.seed_uri='/root/yongli/DTU_Count_15001.ipynb' --KernelGatewayApp.allow_origin=* --debug

[2016-09-27 13:22] parente commented on #197
The `DTU_Count_15001.ipynb` notebook must have been written in a notebook server that has a kernel named `conda-root-py`. That kernel + conda environment must not be available wherever you're running the kernel gateway. Either you have to make sure it is or specify an equivalent alternative using the `KernelGatewayApp.force_kernel_name` parameter.

[2016-09-27 13:28] awenhu commented on #197
how to install conda-root-py?
if using KernelGatewayApp.force_kernel_name, what value should be set?

[2016-09-27 13:37] parente commented on #197
`conda-root-py` looks like it's a default kernel spec created by anaconda in your notebook server environment. You'll need to create an equivalent conda environment on the machine where you plan to run the kernel gateway (KG) server with whatever packages your notebook is using. Assuming you're trying to run this on a different machine from the one where you're running the notebook server, the gen

[2016-09-27 13:45] awenhu commented on #197
same server

[2016-09-27 14:03] parente commented on #197
OK. What's the output of `jupyter kernelspec list`?

[2016-09-29 14:12] Lull3rSkat3r commented on #195
Ok, I forgot about the declaration of the variable. That will not be a problem

The dictionary mapping is matching against the kernelspec name, which is not very flexible. For example, I was using Apache Toree and needed the kernelspec name of `apache_toree_scala`.

There is also the problem of if a language's comment symbol is not in that map (e.g. Visual Basic's `'`) the None case does not work.

[2016-09-29 14:19] parente commented on #195
That's a bug. It should be matching against the language. Toree still sets the language key to scala when it's a scala notebook, right?

Adding this at the level of the notebook http mode parameters is also a good idea, though I'd still like to see PRs for improving the map over time. When we looked at this originally, we found there's only a handful of comment syntaxes in the wild, even fewer are

[2016-09-30 15:07] Lull3rSkat3r commented on #195
I believe it is using the kernelsepc name based on the code [here](https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/notebook_http/cell/parser.py#L78). If it is a bug, I can add a PR to close this out. I agree with growing the map over time if we fix this to be the language name.

[2016-10-04 19:56] nitind commented on #195
notebook-http mode is still operating on a single notebook, right? Is this layer of indirection warranted if so?

[2016-10-05 02:41] parente commented on #195
Treating the kernel spec name as a language name to determine comment and assignment syntax for notebook-http mode is wrong and should be fixed.

The kernel spec name can be any name set by the user who created the kernel spec: my_env, my_favorite_env, some_conda_env. The problem is that none of these indicate in what language the notebook is written. On the other hand, the metadata language field

[2016-10-27 02:00] mariobriggs opened #200 "Feature Req: Ability to pass in Spark Conf settings when creating Kernels"
Today, the call to create a kernel does not allow to set Spark Conf setting. Therefore one cannot initialize user defined Spark conf properties. Here is an example

 We provide some functionality via a lib that needs to be used both in spark-submit and interactive gateway. Here is how we use we have to use it from both

spark-submit
 sparkSubmit.sh blah blah —conf spark.service.user.xxx.yyy.cred=d

[2016-10-27 02:08] parente commented on #200
The main way to to pass information to kernels in Jupyter is to define custom command line arguments or environments variables in the kernel spec file. For example, `SPARK_OPTS`, `SPARK_HOME`, etc. can be set in a kernel.json for Apache Toree or IPython.

Does this fit your use case?

[2016-10-27 16:36] mariobriggs commented on #200
@parente no that does not help my case. Here i am looking to set per kernel instance, user specified properties like a kakfa port, creds etc

[2016-10-27 18:12] parente commented on #200
It's also possible to include environment variables in `POST /api/kernels` which will be set in the environment of the kernel when it spawns.

https://github.com/jupyter/kernel_gateway/issues/128
https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/jupyter_websocket/swagger.yaml#L403

At present, only env vars prefixed with KG_ are whitelisted to avoid malicious requests that set `

[2016-10-27 21:17] mariobriggs commented on #200
@parente for instance the default spark-shell (scala) and the pyspark shell allow to pass in a '--conf PROP=value' . These are what i want to set

   ...
    --conf PROP=VALUE           Arbitrary Spark configuration property.

Similarly Toree  allows to set a SPARK_OPTS which can contain the '--conf'. For the toree case, i am not sure if you are saying hit the 'KernelSpec' endpoint first to set th

[2016-10-27 21:34] parente commented on #200
Sorry for the confusion. I'm suggesting ways that kernel gateway supports of passing information to kernels at startup time to see if any of them can be used to solve your case. Adding a spark specific config option is what I'm trying to avoid since KG is agnostic about what libs you're going to use and run in your kernel.

With the existing `env` support when making a `POST /api/kernels` request,

[2016-10-27 21:42] mariobriggs commented on #200
You can conceivably send code to the kernel to read these environment variables and do whatever you need to with their values (e.g., programmatically configure a SparkContext).
<<

No option to inject any code before SparkContext is initialized. Also why would end-user go through such hoops

[2016-10-28 02:28] parente commented on #200
The IPython and R kernels do not initialize a SparkContext on their own. What code is initializing the SparkContext in these cases? Can that code also read env vars to configure the context properly?

[2016-10-28 14:49] mariobriggs commented on #200
https://spark.apache.org/docs/latest/sparkr.html#starting-up-sparksession

'If you are working from the sparkR shell, the SparkSession should already be created for you, and you would not need to call sparkR.session.'

As far as i can tell even if some shell didnt, then the user has to execute code that does that.

I have already told you that the way shells handle this is via '--conf PROP=VALUE'

[2016-11-09 12:22] gwvr opened #201 "Documentation request: GET requests paths with parameters for api_intro.ipynb"
I can't grok this notebook (https://github.com/jupyter/kernel_gateway/blob/master/etc/api_examples/api_intro.ipynb) because request examples haven't been included.
I realise that this notebook could conform to some accepted standard, but I wouldn't know where to find the documentation.

I'd be grateful if someone could enlighten me with some example requests to endpoints such as:
* GET /hello/:per

[2016-11-11 17:02] parente commented on #201
Hi @gwvr. There's some documentation and small examples here http://jupyter-kernel-gateway.readthedocs.io/en/latest/http-mode.html about the parameters. Do those help address some of your questions? If you have any suggestions on how to make them better, we'll certainly welcome pull requests against the doc or example notebooks.

[2016-11-11 17:16] parente commented on #200
We can certainly figure out how the kernel gateway could pass command line args to the kernels on launch in some dynamic fashion. But I'm not clear on what happens next. The kernels, which are entirely separate projects from the kernel gateway one, aren't aware of those arguments. Do you have a proposal for how the kernels would then use those arguments to initialize the Spark config?

[2016-11-14 04:59] mariobriggs commented on #200
thanks @parente for the understanding.

By kernel's, i am assuming you are referring to components like 'Apache Toree' ? I can take up that issue with them if they dont.

The PySpark shell is what we use for Python & they already support --conf PROP=VALUE

[2016-11-14 10:37] mariobriggs commented on #200
@parente - "It's also possible to include environment variables in POST /api/kernels which will be set in the environment of the kernel when it spawns."

Can you share an example of doing above... i am using this codehttps://github.com/jupyter/kernel_gateway_demos/blob/master/python_client_example/src/client.py#L36

[2016-11-15 19:48] gwvr commented on #201
Thanks @parente. I had seen that documentation and it didn't address my questions at all. I'd happily submit a pull request against the notebook if I could grok it in the first place.

I've experimented with running `api_intro.ipynb` using jupyter kernelgateway, and querying it from another notebook.

This works:
[code]
Outputs: `b'hello world\n'`

But this doesn't:
[code]
Outputs: `b"Error KeyErr

[2016-11-16 02:18] parente commented on #201
The "args" in that endpoint are referring to query parameters which are name/value pairs following a `?` in the URL. So for the endpoint defined as:

[code]

a valid request would be

[code]

The doc talks these in different flavors of passing input in the http://jupyter-kernel-gateway.readthedocs.io/en/latest/http-mode.html#getting-the-request-data section. I agree they're too terse. It would be

[2016-11-16 11:19] gwvr commented on #201
Thanks, I had tried a query with `?` in the URL earlier, but I probably got the syntax slightly wrong. I've updated my query notebook and have managed to get requests to the various `Hello` and `People` endpoints working as expected, but I still have issues with requests to many of the other endpoints..

With the `Messages` endpoints, my requests appeared to work but didn't behave as expected. The

[2016-11-22 14:03] rolweber opened #202 "Does kernel gateway support HTTPS connections?"
The documentation [1] does not list options that correspond with `NotebookApp.keyfile`, `NotebookApp.certfile` or `NotebookApp.client_ca` [2] to support encrypted communication [3].

[1] https://jupyter-kernel-gateway.readthedocs.io/en/latest/config-options.html
[2] http://jupyter-notebook.readthedocs.io/en/latest/config.html
[3] http://jupyter-notebook.readthedocs.io/en/latest/public_server.html#

[2016-11-22 14:27] parente commented on #202
Not yet. The options:

https://github.com/jupyter/notebook/blob/e6fb7e65e94f6dd94fc5aba0cbe4bd3065e19623/notebook/notebookapp.py#L526

and code for passing them to the tornado http server instance:

https://github.com/jupyter/notebook/blob/e6fb7e65e94f6dd94fc5aba0cbe4bd3065e19623/notebook/notebookapp.py#L1066

need to be ported here.

[2016-11-22 14:37] rolweber commented on #202
Thanks for the prompt response. I'll leave the issue open as a feature request.

[2016-11-24 03:37] parente commented on #200
You can optionally pass an `env` object as part of the  POST body. Extending the python_client_example:

[code]

I mentioned above that only env vars that start with `KG_*` are whitelisted at the moment to prevent PATH, PYTHONPATH, and other sensitive env var overriding. If you want to pass SPARK_OPTS, for example, we probably need to extend the whitelist rule.

References

* Swagger spec: https:/

[2016-12-02 00:09] MaximilianR opened #203 "What could be causing an HTTP 403 error?"
When I try and connect to the running kernel, from Hydrogen, I get a 403 code:

[code]

I'm using the default `jupyter_kernel_gateway_config.py`.

I use a notebook with a password & HTTPS, but my understanding was the notebook config file wouldn't be picked up (and it's not listed in `--debug` mode

Any ideas why a 403 would be returned?

Many thanks,
Max

[2016-12-02 02:09] parente commented on #203
Session and kernel listing are not enabled by default in the kernel gateway for privacy. You have to pass `--JupyterWebsocketPersonality.list_kernels=True` or set the environment variable `KG_LIST_KERNELS=True` when starting the kernel gateway.

[2016-12-02 04:03] #203 closed

[2016-12-02 04:36] parente commented on #202
Happy to take a PR for it too. It's mostly adding traitlets.

[2016-12-02 11:19] rolweber commented on #202
My employer requires some legal approvals before I'm allowed to contribute to an OSS project - you might remember ;-) I've triggered the necessary clearance processes, but it may take a while to complete them. The changes themselves were easy enough.

[2016-12-11 00:13] nikitakit opened #204 "Error with @jupyterlab/services 0.34.2 and notebook 4.3.0"
I just upgraded my notebook and `@jupyterlab/services` packages, and the gateway server is now throwing errors instead of running any code. (I'm using [nteract/hydrogen](https://github.com/nteract/hydrogen) to issue commands)

There seems to be a version mismatch of some sort, but I'm not sure how to resolve it.

Details:
[code]

[2016-12-11 00:16] parente commented on #204
To what version did you upgrade your notebook?

[2016-12-11 00:17] parente commented on #204
Doh. Sorry. Output.

Yes. 4.3.0 has a change in the session API that needs to be integrated here.

[2016-12-11 00:18] parente commented on #204
Ref: #154

[2016-12-11 00:25] parente commented on #204
Looks like another argument addition to the `SessionManager.create_session` like what happened in , #155 between notebook 4.1 and 4.2.

@minrk, I'm thinking that it makes sense to add `**kwargs` here to prevent future breakage instead of having a stricter dependency version spec setup.py from `notebook>=4.2.0,<=5.0.0` to `notebook==4.3.*`. Do you agree?

[2016-12-13 09:02] minrk commented on #204
Yes, that seems like a good idea. I don't usually think of adding args as a breaking change, but of course it is for implementers of a spec. Sorry about that.

[2016-12-17 01:55] parente commented on #204
Ref: https://github.com/nteract/hydrogen/pull/552

[2016-12-17 03:35] #204 closed

[2016-12-17 03:54] parente commented on #204
@nikitakit Thanks for the report. I've loosened up the function specs and cut a 1.1.2 release with the fix. It's on pypi already and conda-forge should have it soon.

[2016-12-20 11:17] jkp85 opened #206 "Ctrl-C does not kill kernels."
I've noticed that hitting Ctrl-C on gateway does not kill kernels. There was an issue concerning this here: https://github.com/jupyter/kernel_gateway/issues/167 and then a pull request was merged here: https://github.com/jupyter/kernel_gateway/pull/168 However there was a regression here https://github.com/jupyter/kernel_gateway/commit/c85a4935fd7ba5383aa5a2b9be3b807435eae92f#diff-e12fea7b69535836

[2017-01-05 07:34] skyhias opened #207 "GET /api/swagger.yaml delivers 404: Not Found"
When installing kernel_gateway via pip, `GET /api/swagger.yaml` is not working, because swagger.yaml is missing in the installation.

After changing in MANIFEST.in
`include kernel_gateway/services/api/swagger.*`
to
`include kernel_gateway/jupyter_websocket/swagger.*`
and reinstalling it works.

[2017-01-05 18:48] Lull3rSkat3r commented on #207
#208 should close this.

[2017-01-05 21:47] proofit404 opened #209 "Problems running kernel gateway in the docker"
Hello guys,

I'm not a docker guru, so can any one explain to me the reason of behavior described below.

I run into a problem, when gateway unable to connect to the kernel it starts. An attempt to get kernel_info fails with timeout. But this bug occurs conditionally depending on how I start process inside docker.

If I use following docker setting it doesn't work

[code]

[code]

This also doesn'

[2017-01-06 01:09] parente commented on #209
I believe this stems from the fact that jupyter apps are not written to be proper init (pid 1) processes that docker container lack. In the last form of your Dockerfile, I think a shell (sh perhaps) becomes the init process and so handle signals properly. In the other forms, jupyter itself is the init process and runs into problems.

I don't have the issue ref off hand, but this is why the images

[2017-01-06 01:09] #207 closed

[2017-01-06 01:55] parente opened #210 "Switch to a conda setup for dev"
I did this in jupyter-incubator/contentmanagement and it simplified things quite a bit. Consider it here unless we're really dependent on the kernels in the pyspark docker image.

[2017-01-06 01:59] parente opened #211 "Support notebook 4.3 token generation (or equivalent)"

[2017-01-07 11:00] proofit404 commented on #209
Ok, so I think we can close this issue.

[2017-01-07 11:00] #209 closed

[2017-01-20 12:37] parente commented on #197
@awenhu I'm going to close this issue as inactive. If you did find a solution to your problem, please share it here. If not, and you can provide the kernelspec list output, we can continue debugging.

[2017-01-20 12:37] #197 closed

[2017-01-20 12:37] parente commented on #194
@awenhu I'm going to close this issue as inactive. If you can provide a sample notebook to help us debug, please feel free to reopen the issue.

[2017-01-20 12:46] parente commented on #185
I'm going to close this issue as inactive. If someone comes up with a nice pattern or extension for testing the http mode annotations in the notebook server itself, we can document it.

[2017-01-20 12:46] #185 closed

[2017-01-20 12:51] parente commented on #191
If the 404 came from fetching the swagger using the latest pypi kernel gateway package at the time, then #208 should be the fix.

Changing the notebook providing the API at runtime would require restarting kernels, parsing the notebook, and dynamically changing the registered tornado handlers at a minimum. I think we would only consider merging a PR implementing that if it could be done without ma

[2017-01-20 12:51] #191 closed

[2017-01-20 12:54] parente commented on #125
I'm doing some cleaning. I think we can close this out as a "no", as in "no time", "no hardware" and "no interest" at this point.

[2017-01-20 12:54] #125 closed

[2017-01-22 02:58] #210 closed

[2017-01-22 21:02] parente commented on #201
I'm going to rewrite the intro notebook to run through most of the http mode features using a  contact list example with more comments for clarity.

[2017-01-24 18:53] #206 closed

[2017-01-24 19:13] #195 closed

[2017-01-25 12:54] #202 closed

[2017-02-07 22:22] garywu opened #219 "Can't follow development Workflow missing "image" target in makefile"
https://github.com/jupyter/kernel_gateway/commit/c71091a6cd03bcc50aed6ee2172d9f7edb2014fc removed all reference to docker from the makefile.

Following step in Development Workflow in [devinstall](https://github.com/jupyter/kernel_gateway/blame/master/docs/source/devinstall.md#L32)
 no longer works:

What are the new steps?

[2017-02-10 14:25] mariobriggs commented on #200
@parente Thanks.

I didnt get time to follow through, but picking this up again now. So will try it out and get back.

If you want to pass SPARK_OPTS, for example, we probably need to extend the whitelist rule.
<<
Yes please. Would appreciate if you could

[2017-02-12 02:33] parente commented on #219
Thanks for the report. I'll make sure the README gets update as part of the next release.

[2017-02-12 15:49] #200 closed

[2017-02-13 20:22] RDegnen opened #223 "Restart Kernel in notebook-http mode"
Hello, I've been looking around previous issues and the docs but I can't seem to find an answer. Is it possible to restart the kernel in notebook-http mode via a request? I have tried sending a request to a cell that calls `os._exit(00)` but that just throws an error and I get no response back. Also I am not running this in docker, just notebook-http mode on its own, thanks!

[2017-02-14 02:11] #201 closed

[2017-02-14 02:17] #219 closed

[2017-02-14 02:19] parente commented on #223
There's not way to restart the kernel at the moment. Can you describe your use case?

[2017-02-14 13:59] RDegnen commented on #223
I'm running cells in a notebook that connect to a spark cluster. After stopping the spark context, I can only seem to create a new one if I restart the kernel. I wanted to just have the kernel gateway running in the background so we can automate the running of our notebooks from a remote server, instead of having to fire up the kernel every time we run and notebook and then manually killing the pr

[2017-02-15 01:12] ckadner commented on #200
@parente -- in your comment above from [Nov 23, 2016](https://github.com/jupyter/kernel_gateway/issues/200#issuecomment-262683151) you are referring to `KG_` prefixed environment variables being whitelisted:

Did you intend to write this instead?

And should your example look like this instead?

[code]

see: [kernel_gateway/services/kernels/handlers.py#L56](https://github.com/jupyter/kernel_gatewa

[2017-02-15 02:50] parente commented on #200
@ckadner Yes indeed. Thanks for the catch.

[2017-02-16 04:45] parente commented on #223
What version of Spark are you using? Can you include the exception you get from Spark about trying to create a new context after stopping a prior one?

[2017-02-16 04:49] parente opened #224 "Duplicate message signature exception w/ notebook 5.0"
Some kind of conflict with the new activity tracking API. Possible that KG is deserializing elsewhere for activity tracking or other purposes (notebook-http mode) and causing the jupyter_client session to think it's already seen the message.

[code]

Ref: https://github.com/jupyter/notebook/issues/2150

[2017-02-16 14:31] RDegnen commented on #223
Hey I figured out a work around, by just starting and stopping jupyter kernel gateway with some scripts over ssh.

[2017-02-16 14:31] #223 closed

[2017-02-16 15:41] guilhermecgs opened #225 "Support multiple ipython notebooks"
Hi Folks,

It would be a good feature if you implement something like this for notebook-http

Instead of deployment a REST API using a single .ipython notebook file, scan all ipython notebook files inside a folder and deploy all methods...  Also, keep track of file changes and auto deploy them...

[2017-02-16 23:33] kevin-bates opened #226 "Add ability to cull idle kernels after specified period"
Hello,

This topic is essentially an extension to Issue [#96](https://github.com/jupyter/kernel_gateway/issues/96) which led to PR [#97](https://github.com/jupyter/kernel_gateway/pull/97) and the introduction of activity monitoring in the JKG.

I've implemented a solution within the JKG which introduces another internal service (idle_culler) to periodically check the current set of registered kern

[2017-02-19 15:10] parente commented on #226
@kevin-bates Thanks for sharing that info and the offer to contribute a PR. Let me share some work happening in the notebook project before you do.

https://github.com/jupyter/notebook/pull/1827 recently added an activity tracking API to the notebook server itself. I've been thinking that JKG 2.0 should making a breaking API change (which it already needs to do in other places for notebook 5.0 com

[2017-02-19 18:04] kevin-bates commented on #226
@parente Thank you for your response and the pointer to the similar effort happening in [jupyter/notebook](https://github.com/jupyter/notebook) relative to activity tracking.  It makes perfect sense to cull from notebook provided there's an ability to walk across the set of known kernels.  I'll take a deeper look within that project.

I'd prefer we leave this issue open until a direction is taken

[2017-02-19 20:11] parente opened #227 "Remove activity API in favor of the one in notebook 5.0"
See https://github.com/jupyter/kernel_gateway/issues/226#issuecomment-280925032

[2017-02-20 14:06] minrk commented on #226
Adding a culler service makes sense. I did want to do this upstream, but didn't get to it in time for 5.0. It would have been very similar to what you have proposed, though I wasn't planning to add an API endpoint for retrieving the history of cull events. I would prefer not to include that, unless there is a strong reason - there are no other examples of historical data retrievable from the noteb

[2017-02-21 02:08] kevin-bates commented on #226
@minkr thank you for your response.  I don't have a strong requirement about an endpoint to gather culled kernel information.  I was mostly modeling my changes after the activity tracking in JKG.  I'm perfectly fine not implementing that.

Thanks for the tip regarding PeriodicCallback - I'll be sure to use the primary IOLoop instance.

Looking at both the notebook and kernel_gateway code, I do hav

[2017-02-21 17:46] #224 closed

[2017-02-22 20:06] kevin-bates commented on #226
I answered my questions above (hopefully correctly) and submitted [PR 2215](https://github.com/jupyter/notebook/pull/2215).

[2017-02-23 21:02] BigLep opened #229 "Documentation updates to clarify kernel_gateway's purpose"
Hello,

Feel free to resolve/ignore, but I found that the docs under the kernel_gateway GitHub project weren't as helpful for communicating the problem that kernel_gateway is attempting to solve vs. http://blog.jupyter.org/2016/03/09/jupyter-kernel-gateway/ and https://github.com/jupyter-incubator/proposals/blob/master/kernel_gateway/proposal.md .  I'm only bringing this up because wouldn't want s

[2017-03-02 02:47] parente commented on #229
Thanks for the feedback, @BigLep. If you have some time to contribute, we'll gladly take pull requests that improve the documentation. If not, we can try to work in some of the wording from the blog posts and proposal over time.

[2017-03-02 03:41] parente commented on #211
The tokens in notebook as for one-time use, with the traditional cookie serving as the proof of authentication thereafter. That won't work for KG use cases where a cookie jar may not be available.

I think having an option to generate a secure token if one is not provided, and accepting that token as a URL parameter, especially on web socket connections, is the way to go.

[2017-03-03 10:15] rolweber commented on #211
I've just been trying to connect to a kernel gateway with auth token through a node.js program using the jupyterlab/services client. I can list kernel specs and running kernels. But when the web sockets come into play, after starting a kernel or when trying to execute code, things fail. The client reports loss of connection, and the kernel gateway a write error. I assume that this is because the k

[2017-03-03 12:49] rolweber commented on #211
This seems to be the place...
https://github.com/jupyter/kernel_gateway/blob/317033f90e17af0a9d314b78fba7941e968a5eeb/kernel_gateway/mixins.py#L57

And the corresponding code in notebook...
https://github.com/jupyter/notebook/blob/68a514a29d0e79af66ce6dd75c87e991fb58126d/notebook/auth/login.py#L112

So there is no real distinction between web socket and plain request authentication. Both will work

[2017-03-03 15:00] parente commented on #211
The current KG release doesn't understand tokens for websockets yet.

[2017-03-08 08:46] rolweber opened #231 "Developer docs: Testing with different Python versions"
When following the current [instructions](https://jupyter-kernel-gateway.readthedocs.io/en/latest/devinstall.html) for setting up the development environment, you get a Python 3.6 environment. Instructions for running unit tests and starting servers are for this default environment.

Shouldn't there be instructions and `make` targets for setting up and running unit tests with the minimum required

[2017-03-08 12:12] parente commented on #231
The [.travis.yml](https://github.com/jupyter/kernel_gateway/blob/master/.travis.yml#L4) configures Travis CI to run the tests on five versions of Python KG supports.

It's possible to add a variable to the Makefile to let the user pick which version of Python he/she wants to use when creating the conda environment. Creating conda environments multiple versions and having separate make targets for

[2017-03-08 12:22] rolweber opened #232 "Swagger: auth token"
According to swagger.yaml, only `/api/kernelspecs` requires the auth token.
https://github.com/rolweber/kernel_gateway/blob/e897143cb8ff84a9f52819005524f168675966cb/kernel_gateway/jupyter_websocket/swagger.yaml#L72

I thought it is required for all calls, if configured? Should swagger list the token as a top-level `security` element? If there are only few calls which do not require the token, it w

[2017-03-08 12:28] rolweber commented on #231
OK, makes sense. So I'll have to open a PR to get my changes tested by Travis.

[2017-03-08 12:28] #231 closed

[2017-03-08 12:37] parente commented on #232
That was a copy/paste mistake, and PR #227 fixes it. It might be worth calling out in the top level security section how auth is handled globally.

[2017-03-08 12:40] rolweber opened #233 "Support token auth via query parameter"
As discussed in #211, token auth for web sockets requires the token to be passed as a query parameter rather than an `Authorization` header. This is independent of the token generation logic mentioned in #211,  and compatible with the 1.x API.

[2017-03-08 13:35] rolweber commented on #233
See PR #234 against the current master.
I'll wait with a PR against 1.2.x until the one for 2.0 has been reviewed.

[2017-03-23 14:27] #233 closed

[2017-03-27 06:10] rolweber commented on #131
Has anyone given thought to letting the kernels chose ports for themselves, and communicating them back to the kernel manager somehow? Clearly not a short-term solution, I know.

[2017-04-04 23:22] kevin-bates commented on #226
Closing this issue since culling will occur in Notebook 5.next.

[2017-04-04 23:22] #226 closed

[2017-04-05 15:22] kevin-bates opened #237 "JKG should catch SIGTERM and gracefully terminate"
When invoked as a background process the general interrupt signal is not caught.  Moreover, SIGTERM is the defacto shutdown-my-process-and-cleanup signal.  It would be good to handle SIGTERM and invoke the stop action (which should be amended to shutdown active kernels).

[2017-04-07 18:03] kevin-bates commented on #237
See PR #238

[2017-04-07 18:03] #237 closed

[2017-04-13 06:00] #227 closed

[2017-04-13 19:40] ytang327 opened #241 "Kernel Gateway Uncaught Exception"
The following is the environment:

On an x/86 system, I have a jupyter notebook server running. On a z/OS system, I have a Jupyter Kernel Gateway running. The notebook server connects to the kernel gateway which gives the server access to Apache Toree (dev8) . Apache Toree then interacts with the Spark cluster (2.0.2) The scala version is 2.11.8

I am trying to run a jupyter notebook with visualiz

[2017-04-13 21:00] parente commented on #241
What version of kernel gateway and jupyter notebook do you have installed in that python environment?

[2017-04-13 21:19] ytang327 commented on #241
Kernel gateway 1.2.1 and jupyter notebook 4.3.x ... It is within a docker container (based off image jupyter/minimal-notebook)

[2017-04-18 11:33] rolweber commented on #241
One thing to watch out for are the Java default character encodings on z. Maybe the `#` is incorrectly converted to a different character, leading to a signature mismatch. If default character encodings use a z-specific code page, try changing them to utf-8.

I'm not sure which version of Toree you are using. There's no dev8 here:
https://github.com/apache/incubator-toree/releases

But there are T

[2017-04-18 13:14] parente commented on #154
This was fixed in #230.

[2017-04-18 13:14] #154 closed

[2017-04-18 13:26] parente opened #242 "Release 2.0"
Let's discuss making a 2.0 release. Here's things I think need to get done vs those that can be moved out:

TODOs

* [x] Come to resolution on #236, do we need to update the swagger more or not?
* [x] Move #211 out to a 2.1 or 3.0 release. KG has support for tokens in query parameters now. This issue is to switch to using the implementation in jupyter/notebook instead of the custom one here if it'

[2017-04-18 13:26] parente commented on #241
@ytang327 Does the same exception occur in plain old Jupyter Notebook when you run that code?

[2017-04-18 13:35] rolweber commented on #242
For a major release, we should consider #229 as well.

[2017-04-18 13:36] parente commented on #242
Fine by me. I'll tag it 2.0. Are you cool with moving #211 out of the 2.0 milestone?

[2017-04-18 13:37] rolweber commented on #242
Yes, that's fine with me.

[2017-04-19 15:01] ytang327 commented on #241
@parente The same exception does not occur if I run Jupyter notebook alone without kernel gateway. It runs as expected.

@rolweber The most current Toree version I am running is what was in the master branch about a week ago. I will look into the character encodings on z

[2017-04-19 15:09] ytang327 commented on #241
@rolweber I'm not sure if it's a # symbol problem, if I run a different command with # i.e.

%%brunel data('df') x(_1) y(_2) bar style("fill:red") color(#count) filter(_1:2) :: width=300, height=300

I do not run into the exception as shown above and it shows the visualization as expected in the notebook.

[2017-04-20 02:27] parente commented on #241
Sorry. I meant if you run the notebook server on the z/os system. But as I think about that, it's likely impossible for you to try and would likely lead to the same error anyway as the stack trace clearly shows it's the `compare_digest` code in https://github.com/jupyter/jupyter_client/blob/master/jupyter_client/session.py#L897 that is failing.

The code is checking the signature on a message sent

[2017-04-21 12:21] ytang327 commented on #241
@parente I was speaking with Dan (one of the main developers to the Brunel visualization package) he had mentioned that when using #selection a utf-8 can be included in the JS. I'm wondering if python 2.7 is having trouble with this character and maybe the server side is interpreting it differently from the kernel side?

Also I used the "--debug" option in jupyter kernel gateway and rebuilt toree

[2017-04-28 22:27] jeremysalwen opened #243 "allow_headers option overwritten"
python -m kernel_gateway --KernelGatewayApp.allow_origin='*' --KernelGatewayApp.allow_headers='X-XSRFToken'

Should return headers
    Access-Control-Allow-Headers: X-XSRFToken

But instead for some API calls it returns:
    Access-Control-Allow-Headers: 'accept, content-type, authorization'

It seems that this is overwritten in line 452 of notebook/base/handlers.py

[2017-04-28 22:29] jeremysalwen commented on #243
python -m kernel_gateway --KernelGatewayApp.allow_origin='*' --KernelGatewayApp.allow_headers='X-XSRFToken'

Should return headers
    Access-Control-Allow-Headers: X-XSRFToken

But instead for some API calls it returns:
    Access-Control-Allow-Headers: 'accept, content-type, authorization'

It seems that this is overwritten in line 452 of notebook/base/handlers.py

[2017-05-02 10:36] rolweber commented on #243
Thanks for pinpointing the offending statement. Could you provide an example for an API call that returns the wrong header? That will make it easier to reproduce the problem.

[2017-05-02 20:08] jeremysalwen commented on #243
`curl 'http://localhost:8888/api/kernelspecs?1493755508377' -X OPTIONS -H 'Host: localhost:8888' --compressed -H 'Access-Control-Request-Method: GET' -H 'Access-Control-Request-Headers: content-type,x-xsrftoken' -H 'Origin: http://localhost:4200' -H 'Connection: keep-alive' -H 'Cache-Control: max-age=0'
`
returns Access-Control-Allow-Headers: accept, content-type, authorization

same for /api/sess

[2017-05-07 02:31] parente commented on #243
KG overrides `set_default_headers()` but the notebook has the Tornado `options()` handler implemented to return a hardcoded set of allowed methods and headers. I'm working on a fix.

[2017-05-08 06:01] #243 closed

[2017-05-08 06:03] #232 closed

[2017-05-10 12:02] ytang327 commented on #241
@parente @rolweber  When the message/signature list is sent back to notebook/kernel gateway server, is it already utf-8 encoded? I am running python 2.7 so I'm wondering if it is treating the utf-8 encoded string as ascii encoded.

I noticed where the problem was by the way. It seems that when the signature is checked in the jupyter_client code there is a mismatch because it is not interpreting so

[2017-05-12 17:33] riceda195 commented on #200
I am trying to use the [nb2kg](https://github.com/jupyter/kernel_gateway_demos/tree/master/nb2kg) extension.  The way this extension passes info to KG is through headers.  Is there a way to create env variables based on these headers?

[2017-05-12 18:50] parente commented on #200
I just merged a PR on the nb2kg repo that I think does what you need.

[2017-05-13 15:08] parente commented on #241
Is toree encoding all of its message strings to utf-8 before putting them on the wire to send out? I can't find doc on it, but I suspect the jupyter protocol assumes everything is utf-8 encoded.

[2017-05-15 22:09] Praxiteles commented on #225
Anyone open or available to being paid to build this feature? If so , please message us.

[2017-05-16 01:11] poplav commented on #225
This sounds like a fine feature indeed, but in the meantime it sounds like a proxy server is what you need.

[2017-05-16 21:25] ytang327 commented on #241
@parente Turned out the problem was setting the java options to utf-8, that was why it was not being encoded correctly. I will go ahead and close this issue

[2017-05-16 21:25] #241 closed

[2017-05-17 00:55] #229 closed

[2017-05-20 19:43] SaintNazaire opened #247 "XSRF cookie does not match POST argument"
I am trying to transfert files using a python program running on a local Anaconda to a local Jupyter within a docker container using the Jupyter rest API.

I managed already to execute a requests.get() succesfully after muddling-through a bit on how to input the token.

Now I would like to execute a requests.post() command to transfert the files.

Configuration:
1. local docker container running o

[2017-05-20 20:11] parente commented on #247
From the log `NotebookApp`, it appears you're running a jupyter notebook instance, not the kernel gateway. (The kernel gateway also doesn't expose the content API so this wouldn't work anyway.)

You might want to repost this issue against https://github.com/jupyter/notebook. I'm not familiar with how the XSRF token relates to the auth token that notebook prints out when it starts.

[2017-05-20 21:17] SaintNazaire commented on #247
Many thanks for the precision and your time parente.
Closing comment, issue is not relevant here.

[2017-05-20 21:17] #247 closed

[2017-05-26 20:20] Praxiteles commented on #225
@poplav How would a proxy server handle this? What would the architecture look like? Are you thinking we would create multiple servers each hosting different notebooks - or some other architecture?

[2017-05-29 09:00] rolweber commented on #242
How much extra effort would it be to release 1.2.2 alongside 2.0?
How could I help? Update the changelog in both branches?

[2017-05-30 02:01] parente commented on #242
It's not too much effort. I'm happy to do it. I'll send PRs for that branch. I think there's a backport missing for a duplicate deserialization bug fix that has to go into that branch too.

[2017-05-30 02:15] #242 closed

[2017-06-01 11:18] parente commented on #242
@rolweber I tagged and pushed 1.2.2 off the 1.2.x branch. It should be on pypi. Do you also need a conda-forge package built for it? I haven't done multi-branch conda-forge builds, but I hear it's possible by creating branches in https://github.com/conda-forge/jupyter_kernel_gateway-feedstock

[2017-06-01 11:48] rolweber commented on #242
@parente: Great, thanks! PyPI is sufficient for now.

One small nuisance though: PyPi now considers 1.2.2 to be the "latest version".
https://pypi.python.org/pypi/jupyter_kernel_gateway/2.0.0

[2017-06-01 17:58] parente commented on #242
Ah. I can fix that. I can also grant you permission to manage it if you'd like. Create an account on pypi and let me know your username if you are interested.

[2017-06-02 08:45] rolweber commented on #242
@parente: Great, thanks! I registered at PyPI as 'rolweber'.

[2017-06-09 04:46] cheekala opened #253 "Kernel Gateway APIs are slow while the same cells in jupyter notebook run fast."
Running Kernel Gateway in the following mode.
nohup jupyter kernelgateway --KernelGatewayApp.api='kernel_gateway.notebook_http' --KernelGatewayApp.ip=0.0.0.0 --KernelGatewayApp.seed_uri='/home/ubuntu/ABC.ipynb' >> /home/ubuntu/jupyter_kernel.log 2>&1 &

There is only one API annotated in the notebook, ABC.ipynb. Followed is the output log on server.

[KernelGatewayApp] Kernel started: e154f902-1e7

[2017-06-09 06:22] rolweber commented on #253
That's hard to tell without seeing the actual code or knowing the environment.
Maybe some of the non-annotated cells in your notebook set parameters for TensorFlow which affect the performance?
Maybe you're running the notebook server with a different version of TensorFlow, one that was compiled to use all the special instruction sets mentioned in the warnings?

[2017-06-09 07:09] cheekala commented on #253
There are **no non-annotated cells**, all cells are annotated to only one API.
My notebook is running with tensorflow verion 1.1.0-rc2. Kernel gateway is using the same tensorflow version too.

[2017-06-09 07:23] rolweber commented on #253
Assuming it's the same machine, and the same kernel spec, see if you can spot a difference in the environment. If it's a Python notebook: `!printenv | sort`
Watch out for  library search paths and the like.

[2017-06-09 07:48] rolweber commented on #253
When you're measuring the execution time in Jupyter notebook, are you also running _all_ cells? It's somewhat unusual that to observe a sub-second execution time for a "Run all cells" operation. I certainly couldn't guess with that accuracy if I have to scroll the notebook to see when it's finished executing.

[2017-06-09 08:45] cheekala commented on #253
Followed are the environment differences.. I don't see actually much difference except the following.

**Notebook Environment had these two additional variables.**
OLDPWD=/home/ubuntu/semafor
PS1=(tensorflow) \[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\u@\h:\w\$

**Kernel Environment had this additional variable**
KERNEL_GATEWAY=1

and one variable is differed
_=/usr/bin/printenv (on Ke

[2017-06-09 08:50] cheekala commented on #253
One more thing, This was all working fine, until a few weeks ago when I upgraded my tensorflow environment. Since then, I'm seeing the delays in the APIs.

[2017-06-09 09:23] rolweber commented on #253
Thanks for digging into this. Now we know we have to look for the problem in a different place.

[2017-06-09 09:30] rolweber commented on #253
How many cells does your notebook have? How big is the notebook file?
Does it make a difference if you clear all cell output before saving, and then run KG on the smaller file?

I'm wondering if there's some inefficiency when the notebook_http module collects the cells to be executed for the request.

[2017-06-09 09:47] cheekala commented on #253
Notebook has just one POST API, spread across 15 cells, 64KB file size on disk (after clearing all outputs).
No difference in the time on a smaller file.

I'd like to bring your attention to two things, once again humbly.
1. Tensorflow was upgraded to 1.1.. few weeks ago, and observing the slower API execution times
2. The CELL execution times remain same whether it's Notebook or KG (under 1 sec),

[2017-06-10 11:58] parente commented on #253
The kg parses all cells once at startup. It then executes all non annotated cells once from top to bottom. Next  it prints the paths to the console and starts listening for http requests. When one is received it sends the string text of the code from the associated cells to the kernel for evaluation. It listens for all messages from the kernel until an idle status messages is received. Finally, it

[2017-06-10 12:09] cheekala commented on #253
Please find the notebook here. It doesn't emit any output.

[DC DL API.zip](https://github.com/jupyter/kernel_gateway/files/1065823/DC.DL.API.zip)

[2017-06-11 20:09] parente commented on #253
Try removing the `POST` annotation from all of the cells before the one with `req = json.loads(REQUEST)`. As I noted above, the kernel gateway will execute all cells that don't have an annotation from top to bottom *once* when the kernel starts. Therefore, you don't need to have any of the try/except clauses guarding your run-once code. More importantly, the kernel gateway will not need to send al

[2017-06-11 20:27] parente commented on #131
We haven't seen the port conflict problem in quite some time now on travis, so I'm going to close this issue. If there's still motivation to change how kernels do port selection, I think an issue needs to be opened against jupyter/jupyter since it requires a change to a de facto standard about how clients like jupyter/notebook bootstrap kernel processes.

[2017-06-11 20:27] #131 closed

[2017-06-11 20:33] parente commented on #211
I think the only thing required to close this out is the option of automatically generating a token. We could take a security-first approach in 2.1 and start doing that by default if the user does not specify a blank or explicit token. This is the approach that jupyter/notebook took in 4.3. Or, we can remain backward compatible with existing kernel gateway apps and insecure by default, yet have a

[2017-06-11 20:36] parente commented on #242
@rolweber I've added you as a maintainer on pypi. One of these days when we cut a new release, I can take you through the steps if you're available.

[2017-06-12 04:49] cheekala commented on #253
Have done the suggested changes. Now, the API load time comes down to **14 seconds** from **40 seconds**.  How can we further skim this time down??

[2017-06-13 05:43] rolweber commented on #131
We're seeing the port problems in internal regression tests of the Apache Spark service on Bluemix, but rather for notebook than kernel gateway. I agree that this issue should be addressed in the shared codebase.

[2017-06-13 05:54] rolweber commented on #253
Try switching back to the older Tensorflow version. If that gets rid of the delay, you'll have to work with the Tensorflow community to find out what you need to change to make the newer version start fast.

[2017-06-13 10:52] parente commented on #253
Cleaning up the POST annotations reduced the overhead for execution input. I would also suggest you check for output. Is the new version of tensorflow printing, logging, or emittting any other kind of output that would make its way back to the kernel gateway and need to be processed?

[2017-06-13 12:35] cheekala commented on #253
Switched to older tensorflow version **0.12.0** and checked, API load time is reduced from **14 seconds** to **5 seconds**.

**Cleaning up the POST annotations reduced the overhead for execution input.** - Can you elaborate this a little !?

**Is the new version of tensorflow printing, logging, or emittting any other kind of output that would make its way back to the kernel gateway and need to be

[2017-06-13 12:57] parente commented on #253
Yes, but if this is is output on stdout or stderr when cells execute, KG still has to receive it all and decide whether its part of the REST API response or not.

[2017-06-13 13:00] cheekala commented on #253
Few warning messages like the following are coming in some cases. 4-5 such warnings are emitted at maximum.

**/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:124: RuntimeWarning: invalid value encountered in true_divide**

[2017-06-21 23:02] JMurph2015 opened #255 "Latency issues"
Hi! I'm working on an app that requires decent throughput to the gateway in a single node docker environment.  Unfortunately, even with ridiculously simple code snippets, the latency is somewhere around 8 milliseconds (by contrast Websockets themselves are capable of a 0.2 millisecond latency).  Is there anything in particular that I can do to optimize this other than just programming my own inter

[2017-06-22 03:23] parente commented on #255
The gateway is using jupyter notebook as a package to setup all the handlers and for zmq communication with kernels. I'm sure effort has been put into making the notebook server responsive over the years for a single user, but I doubt it's been the top priority of the project.

If you're looking to improve things further, before starting from scratch, perhaps you could look at finding easy perform

[2017-06-22 07:32] rolweber commented on #255
The websocket connection is to the kernel gateway. The kernel gateway then uses several ZMQ channels to talk to the kernel. Messages received from the kernel are relayed back through the websocket connection.

I recommend that you spend some time on measuring how exactly those 8 ms accumulate. On the way to the kernel, from the kernel, inside the kernel? Is too much processing being done, or are m

[2017-06-22 18:24] JMurph2015 commented on #255
Hi!
So the code I'm hitting the kernel gateway with is fully async Tornado dispatches both ways, so it's probably some of the faster webserver code you'll see this side of like Node or a compiled language.

I can't really get into many details about what its supposed to do other than interface with Jupyter kernels quickly (all code at my workplace is considered proprietary until we go through a re

[2017-06-22 21:18] JMurph2015 commented on #255
Also I think I may have found your issue.  The Jupyter core codebase doesn't appear to use any async functionality (on the ZMQ side), which if that is the case, then it would easily explain the sluggishness I'm seeing.

[2017-06-23 05:43] rolweber commented on #255
Thanks for digging into this!

[2017-06-23 05:59] JMurph2015 commented on #255
Update 2:  I looked harder, and it would appear that you guys are pulling in the correct (current best) ioloop manager, but it is still using some (relatively) stale code that isn't really the fastest async zmq or python itself can do.  I would recommend writing another class of kernel manager that depends on python 3.6's async functionality and propagating that through your class hierarchy.  It w

[2017-06-23 06:14] rolweber commented on #255
Yes, reporting that suggestion upstream would be kind of you.

[2017-06-23 06:37] JMurph2015 commented on #255
I'll let you guys know if I really find a smoking gun, I would say I whiffed smoke here and there, but haven't really found which exact operation is taking so long, so there's still some work to be done on that front.

[2017-06-27 06:32] JMurph2015 commented on #255
So I did some timing and some more careful poking around.  It would seem that kernel_gateway is not the worst offender here.  Even with a new async client, I was only able to get an IPython kernel's latency to around 5-6ms end-to-end.  Of that, it appears that the vast majority of it is IPython side and not jupyter_client side (though about 1ms - 1.5 ms can be reasonably attributed to jupyter_clie

[2017-06-27 06:32] #255 closed

[2017-06-27 08:24] rolweber commented on #255
Thanks for looking into this and reporting your findings.

[2017-07-18 12:39] pepgal opened #256 "Docker multiple services (Cassandra + Kernel Gateway) problem"
Hi all,

I have this docker-compose.yml file
[docker-compose.txt](https://github.com/jupyter/kernel_gateway/files/1155851/docker-compose.txt).

In my Notebook (on Jupyter service) I connect on Cassandra Db, and test work done. When I deploy my notebook under Kernel Gateway command (as yml file) received this error :
`com.datastax.driver.core.exceptions.NoHostAvailableException: All host(s) tried f

[2017-07-19 08:49] pepgal commented on #256
Hi all, I resolved by static-ip conf.
[docker-compose.txt](https://github.com/jupyter/kernel_gateway/files/1158548/docker-compose.txt)

[2017-07-19 08:49] #256 closed

[2017-08-22 10:37] raphaelshirley commented on #197
I am having problems to this very frequently. Can someone explain how the following:

jupyter kernelspec list
jupyter nbconvert --to notebook --execute 2_Merging.ipynb --output 2-out.ipynb --ExecutePreprocessor.kernel_name=helpint

yields the following output:

Available kernels:
  helpint    /mnt/pact/rs548/.local/share/jupyter/kernels/helpint
  python3    /research/astro/fir/HELP/help_python/min

[2017-08-22 11:50] rolweber commented on #197
@raphaelshirley: Asking questions on closed issues is not a good way to get help. Neither is asking questions about nbformat in the issue tracker of kernel_gateway. Now, trying to help you anyway:

The way I read that output, you don't have a kernel named `helpint`. You do seem to have a kernel named `helpint /mnt/pact/rs548/.local/share/jupyter/kernels/helpint` though.

[2017-08-22 12:01] raphaelshirley commented on #197
Sorry about that. I am unfamiliar with the GitHub help system, and the problem seemed related but I see now why that is the wrong subject. I won't do that again and thanks very much for responding. That is interesting, I will try to specify the kernel name with the full path. I didn't think names could have spaces in, perhaps I should try

ExecutePreprocessor.kernel_name="helpint /mnt/pact/rs548/.

[2017-09-02 15:26] lzkelley commented on #131
I'm trying to run a cell in a jupyter notebook being run remotely (using SSH tunneling) which has always worked fine in the past, but today I'm getting the error:

[code]

jupyter 4.3.0

[2017-09-04 16:04] SimonBiggs opened #257 "Issue with using auth_token and CORS requests"
When issuing a CORS request the browser sends a preflight OPTIONS http request. The browser doesn't put the token in this request. As a result kernel_gateway rejects the request.

This conflict appears to make CORS and auth_tokens not currently compatible. I've provided more details over at https://github.com/jupyterlab/jupyterlab/issues/2960

A solution might be to check if the request type is OP

[2017-09-04 17:11] parente commented on #257
Turning off the token check for OPTIONS sounds right to me. Feel free to submit a PR if you'd like. Thanks for reporting this.

[2017-09-05 05:35] rolweber commented on #257
Background information for those not familiar with the CORS protocol:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Overview
https://fetch.spec.whatwg.org/#cors-preflight-request

[2017-09-05 12:59] SimonBiggs commented on #257
Created a pull request over at:
https://github.com/jupyter/kernel_gateway/pull/258

[2017-09-06 11:58] parente commented on #257
Fixed by #258.

[2017-09-06 11:58] #257 closed

[2017-09-06 17:25] SimonBiggs opened #259 "Diverging code bases"
@parente without me understanding the enormity of the task how plausible is it to merge the features provided by kernel gateway back into the notebook server? Essentially deprecating this code base and by providing "gateway" flags to the netbook server have it provide the necessary changes to become the kernel gateway equivalent.

[2017-09-06 17:30] SimonBiggs commented on #259
I imagine the first step would be to copy all of the tests over, then to implement flags that switch the notebook server to a kernel gateway. Update the tests to use those flags. Then beginning pulling over missing features. CORS is the primary reason I myself am using kernel gateway. I don't have a good handle on the other extra features that kernel gateway provides.

[2017-09-06 17:33] SimonBiggs commented on #259
I imagine the real first step is, if it is desired by you, would be to start the conversation over at the notebook server repo.

[2017-09-06 17:37] SimonBiggs commented on #259
Or is the difference between using REST and websockets vs zeromq such a massive fork in the road that code base overlap in reality is actually minimal?

[2017-09-07 02:09] parente commented on #259
@rgbkrk and I started a conversation about this topic at JupyterCon (read: talked about it for 30 seconds). A couple things to note:

* There is very little reimplementation of code here vs in the notebook server. The KG code simply imports various notebook packages, reuses them, and overrides them in places.
* The "notebook-http" mode supported by KG probably has no place in the notebook server.

[2017-09-07 04:35] SimonBiggs commented on #259
That makes sense. Thanks @parente.

[2017-09-07 05:50] rolweber commented on #259
The configurable limit on the number of kernels is something that could be moved to juypter_client.

Something I like about kernel gateway in websocket mode vs. a notebook server is that it doesn't have a content manager. So if you're running a kernel gateway, it is clear that your server offers only kernels, but not notebooks. I guess it would be possible to disable the extra parts in a notebook

[2017-09-09 04:31] SimonBiggs commented on #257
@parente would a 2.0.1.dev0 release be able to be pushed to pypi? If I remember correctly users don't default to upgrading to dev releases, but I would be able to pin a version number in my own setup.py.

[2017-09-09 18:12] parente commented on #257
I'll work on a 2.0.1 changelog PR and release today.

[2017-09-09 18:30] parente commented on #253
@cheekala this thread has been quiet for a couple months now. Did you spend any more time debugging the performance issue?

[2017-09-09 20:20] parente commented on #257
https://pypi.org/project/jupyter_kernel_gateway/2.0.1/
https://github.com/conda-forge/jupyter_kernel_gateway-feedstock/pull/7

[2017-09-09 23:58] SimonBiggs commented on #257
Brilliant :). Thank you, thank you :)

[2017-09-16 21:50] rgbkrk commented on #259
My immediate thought is that we should accept configurable options for the notebook server that make a deployment compatible with the kernel gateway. CORS is currently configurable. We could make a mode that disables all file serving and non kernel APIs `--gateway-mode`.

I recently talked to @lresende and others about a future direction of the kernel gateway that couldn't readily be done with the

[2017-09-17 03:50] SimonBiggs commented on #259
@rgbkrk I wasn't able to get CORS to work on the notebook server without also having the options "allow_headers" and "allow_methods" that kernel gateway provides. I gave a bit more info over at https://github.com/jupyter/notebook/issues/2644

Not sure if I missed something though...

[2017-09-17 18:56] rgbkrk commented on #259
I just answered in the other thread, so I think this means we'd need to replicate all the functionality from kernel gateway over. If you start making a list you can subdivide the work ahead. Right now it's looking like we'd want:

* [ ] `--gateway-mode` (disables file serving and non-kernel/kernelspec APIs)
* [ ] Explicit `allow_headers` and `allow_methods` (I think this gets buried away in Tornad

[2017-09-18 10:06] SimonBiggs commented on #259
The meat of enabling `allow_headers` and `allow_methods` is within the CORSMixin class:
https://github.com/jupyter/kernel_gateway/blob/fc1d714eecacacc4447ec516578d9032c1f2b574/kernel_gateway/mixins.py#L12-L43

Would you be okay with me attempting a pull request to include that class within the notebook server pulling it in where it is needed?

[2017-09-18 10:10] SimonBiggs commented on #259
On second thoughts really there is probably a much more "notebook specific" method which essentially adds the following for `allow_headers` and `allow_methods`:
https://github.com/jupyter/kernel_gateway/blob/fc1d714eecacacc4447ec516578d9032c1f2b574/kernel_gateway/mixins.py#L30-L33

[2017-09-18 10:47] SimonBiggs commented on #259
@rgbkrk Scrap that. Your suggestion worked. I had to turn off xsrf cookies, then using token access worked perfectly.

https://github.com/jupyter/notebook/issues/2644

[2017-09-18 15:00] rgbkrk commented on #259
That's great!

[2017-10-13 14:01] tanguycdls opened #261 "400 GET error when trying websocket"
Hi, I'm trying to create a connection between a distant kernel running Kernel Gateway and an angular App. I manage to create kernel easily using POST request but I can't get a WebSocket connection.
I try to get using :
`this.http.get('*****/api/kernels/ff826459-8120-4245-9222-3901df09fa26/channels?token=test').subscribe(data => {
      // Read the result field from the JSON response.
      console

[2017-10-13 14:58] rolweber commented on #261
I'm not familiar with angular apps. But `http.get` looks like it would send a GET request, rather than open a websocket connection.

I've been using https://github.com/jupyterlab/services for connecting to kernels. Just noticed that the library has moved though. Maybe you can use its replacement in your app? That would shield you from some of the Jupyter internals.

[2017-10-13 15:05] tanguycdls commented on #261
Thank you for your answer, I thought we needed to Get and then treat the result as a ws connection.

I tried to use JupyterLabservices this morning but the example given in Node does not work for me. I use a distant kernel in an EC2 instance and I could not make it work even while just retrieving kernels ids. Maybe I don't use it correctly, do you know where to get more example ?

Thank you again

[2017-10-13 19:44] SimonBiggs commented on #261
I am in the process of  writing an angular app that talks to the kernel
gateway/notebook server.

It's a work in progress but the connections work.

The angular part can be found here:
https://github.com/SimonBiggs/quarc-services

The notebook/gateway wrapper here:
https://github.com/SimonBiggs/quarc

I distilled the key parts of the connection into an example. Probably best
start with this exampl

[2017-10-13 20:02] tanguycdls commented on #261
Thank you @SimonBiggs, I'll try to use your code ! You said talks to the kernel gateway / notebook is it basically the same thing to do both or the API's are different ?

Thank's!

[2017-10-13 20:25] SimonBiggs commented on #261
Should be the same.

On Sat., 14 Oct. 2017, 9:02 am Tanguy Compagnon, <notifications@github.com>
wrote:

[2017-10-13 22:07] SimonBiggs commented on #261
Also, if it helps, the real meat of my connection within my Angular app is done by "KernelService":
https://github.com/SimonBiggs/quarc-services/blob/master/src/app/scripted-forms/kernel.service.ts

[2017-10-18 17:36] SimonBiggs commented on #261
@tanguycdls how'd you go?

[2017-10-18 19:07] tanguycdls commented on #261
Thank's to ask @SimonBiggs ! I used you kernel.service as a basis to understand how it would work. Now I can create /close/list all kernels in the angular app. I also managed to make a text area to send code to the kernel and see the result. I tried to use codemirror but i could not make it work so I use ace editor with python mode. What I wanted at the beginning of the project was a notebook styl

[2017-10-18 19:20] SimonBiggs commented on #261
A lot of the tooling you're after is built into jupyterlab. Have you considered creating a jupyterlab extension? I started out building a stand alone web app with angular but then decided to take the jump and learn to build a jupyterlab extension. Given that I could embed angular within the extension I didn't lose what I had already done.

Now that I'm an extension plugging into jupyterlab tasks s

[2017-10-18 20:12] tanguycdls commented on #261
Yes thanks, ,this morning I tried to use the editor example in Jupyterlab/jupyterlab but my knowledge in typescript/ angular is pretty limited so I gave up rapidly.
I didn't know the concept of the extension in JupyterLab, it looks really nice. I think I will try to give it a more serious look in the following days and try to create one.
But can jupyterlab work like jupyter with kernel gateway in

[2017-10-18 20:40] SimonBiggs commented on #261
I'm pretty sure it's possible. But it wouldn't be a plug and play method. You'd have to dig into the code and have a custom wrapper that starts the thing up. I'd be happy to work it out with you if you wanted to give it a try.

[2017-10-18 23:11] kevin-bates opened #262 "JSONErrorsMixin not returning correct results after Notebook 5.2.0 is installed"
This is related to [Notebook Issue 2942](https://github.com/jupyter/notebook/issues/2942).

One of the changes in Notebook 5.2.0 was the removal of the `@json_errors` decorator via [PR 2853](https://github.com/jupyter/notebook/pull/2853).  Instead, much of the equivalent code was moved into the `APIHandler.write_error` method.  However, by virtue of the decorator's removal and the inheritance hier

[2017-10-20 09:25] tanguycdls commented on #261
Thank's but I think i wont have the time to try, I mostly needed request code to work and even if it's not perfect it works :) ...
I still have some issue understanding how to set the headers so that the token auth works?
Right now I had removed all the security using these parameters:
 jupyter kernelgateway --KernelGatewayApp.port=8889 --KernelGatewayApp.ip=* --KernelGatewayApp.allow_origin='*' -

[2017-10-20 13:45] SimonBiggs commented on #261
The following link is to my code when I was using kernel gateway app before
I swapped to the notebook server:

https://github.com/SimonBiggs/quarc/blob/794d3f168f5b95bd27849a8e199b5399c2c2c3f6/quarc/quarc.py#L105&113

It's using https, and tokens.

On Fri., 20 Oct. 2017, 10:25 pm Tanguy Compagnon, <notifications@github.com>
wrote:

[2017-10-20 13:49] SimonBiggs commented on #261
To use https you're probably best familiarising yourself with let's encrypt:
https://letsencrypt.org/

On Sat., 21 Oct. 2017, 2:44 am Simon Biggs, <mail@simonbiggs.net> wrote:

[2017-10-20 14:02] SimonBiggs commented on #261
Also do make a new issue, just so that if future people Google search your
question they'll be pointed in the right direction...

On Sat., 21 Oct. 2017, 2:48 am Simon Biggs, <mail@simonbiggs.net> wrote:

[2017-10-30 09:01] jarrekk opened #264 "jupyter kernelgateway error"
hi, I install jupyter and kernel_gateway at Macos & python 3.6.3, but there is error when I run this:

[code]

my `/etc/hosts/` file is :

[code]

I am not sure where I need to correct this. Many thanks if anyone can give me some help!

[2017-10-30 09:29] rolweber commented on #264
I'm not sure if it's wise to define the same name for different IP addresses in /etc/hosts. But assuming that this is how the Mac is set up by default, it's probably OK.

Have you set any environment variables that start with KG_ and could interfere with default parameters?
http://jupyter-kernel-gateway.readthedocs.io/en/latest/config-options.html
If yes, try to unset them or override the environm

[2017-10-30 09:52] jarrekk commented on #264
@rolweber
here is my env:
[code]
I haven't seen params like `KG_*` 😔

[2017-10-30 10:14] rolweber commented on #264
The environment looks OK. Other reports of the same error message hint at various kinds of networking problems. Here is one example:
https://stackoverflow.com/a/12102439

Here's another example, where the problem was reproduced without using Jupyter or Tornado at all:
https://github.com/tornadoweb/tornado/issues/1136#issuecomment-51281375

Maybe it helps when you specify the IP address explicitly?

[2017-10-30 10:31] jarrekk commented on #264
@rolweber It works perfectly!
In my `jupyter_kernel_gateway_config.py`, i set **c.KernelGatewayApp.ip = '*'**, so it should be `0.0.0.0`, very professional 👍

[2017-10-30 11:41] #264 closed

[2017-10-31 05:02] #262 closed

[2017-11-01 00:48] shiti-saxena opened #265 "Make KernelSpecManager and KernelManager configurable"
We want to make KernelSpecManager and kernel_manager_class configurable at run-time. This gives users flexibility to customize how Kernelspecs are fetched and how kernels are started.

[2017-11-01 01:23] jarrekk opened #267 "can kernel gateway import module from local file?"
Now I use jupyter notebook to test python coding and I can use kernel gateway to export some data, but I want to write some code snippet at another, so my directory structure will be this:
![image](https://user-images.githubusercontent.com/10969478/32255886-8cf1be7e-be79-11e7-9fc9-fbd1b7d80421.png)
in jupyter notebook it works ok:
![image](https://user-images.githubusercontent.com/10969478/3225577

[2017-11-02 06:55] rolweber commented on #267
Local imports are relative to the current working directory. Either start the kernel gateway from the `notebook` directory, or `!cd <wherever>/notebook` in your notebook before importing, or copy the `utils` directory tree to the directory from which you are starting the kernel gateway.

[2017-11-02 07:04] rolweber commented on #265
Seems appropriate for websockets mode.

I wonder how this interacts with the notebook-http mode, where only a single kernel is started at the time the kernel gateway itself starts up. It makes sense to have a configurable KernelSpecManager there, yes. But replacing the kernel manager seems odd in that mode.

[2017-11-02 17:02] shiti-saxena commented on #265
These changes simplify running Kernel Gateway through app orchestration framework such as Docker/Kubernetes.
The notebook-http mode also starts a kernel and if users want to customize how that kernel is started/ stopped they will need to be able to do so by configuring the KernelManager.

[2017-11-11 03:20] #265 closed

[2017-11-11 04:00] parente commented on #267
The `from .utils.pg import pg` syntax only works when a module in a package imports another module from the package. The kernel executing the notebook is `__main__` and so the relative package resolution will not work.

Either install the `utils` package separately in the same virtual / conda environment as the kernel_gateway or use `from utils import pg` syntax (no dot).

[2017-11-11 04:05] #253 closed

[2017-11-11 04:10] parente commented on #261
Thanks for the info @SimonBiggs. I'm going to close this issue out as resolved. @tanguycdls feel free to open that other ticket mentioned.

[2017-11-11 04:10] #261 closed

[2017-11-11 06:11] SimonBiggs commented on #261
You're welcome :). My pleasure :).

On Sat., 11 Nov. 2017, 3:10 pm Peter Parente, <notifications@github.com>
wrote:

[2017-11-13 01:26] jarrekk commented on #267
@rolweber @parente
![image](https://user-images.githubusercontent.com/10969478/32705864-37e13180-c7de-11e7-8f4a-d958ff76fb35.png)
`api.ipynb` and `notebook.ipynb` and `utils` are at same folder(notebook) and I tried both `from .utils.pg import Postgresql` and `from utils.pg import Postgresql`, the same error.😑

@parente another method:

It can works since use **pip** install libraries can work, bu

[2017-11-13 01:49] parente commented on #267
@rolweber has it right: the kernel's current working directory is wherever you start the kernel gateway server. Are you running the command from within the `notebook` directory, then seeing an error with `from utils import pg`?

[2017-11-13 02:46] jarrekk commented on #267
@parente jupyter notebook doesn't show this error.

[2017-12-08 12:10] barrachri commented on #259
I started to play with jupyter kernel gateway.

Considering a use case where you connect to the kernel using nteract or hydrogen, with a remote kernel.
What would be the main difference between a classic jupyter-notebook and using the jupyter kernel gateway?

For now the only thing I need to specify is the given token (with the jupyter notebook).

A part for the http-mode the rest seems very simil

[2017-12-08 12:19] rolweber commented on #259
@barrachi: Does this have anything to do with the topic of this issue?
"Shift some features from kernel gateway into notebook server?"

If not, please open a separate issue for your question.

[2017-12-08 12:28] barrachri commented on #259
Well, I am trying to understand which features the JKG has that jupyter notebook server doesn't (or otherwise), I guess is strongly connected to what you can `shift`.

If this issue is related mainly to maintainers, I am sorry, I just wanted to avoid opening a new issue and get `Connected to #259`.

[2017-12-08 13:29] rolweber commented on #259
@barrachri: I'd appreciate if you opened a new issue. Then I can answer your questions there and keep it recorded for other interested people, without cluttering _this_ issue. I can delete the comments here once the information is available elsewhere.

The main difference is that a notebook server has notebooks and a UI. Kernel gateway in websockets mode does not expose an API to load, modify, and

[2017-12-08 13:34] barrachri opened #268 "Differences between Jupyter Kernel Gateway and Jupyter Notebook server"
I started to play with jupyter kernel gateway.

Considering a use case where you connect to the kernel using nteract or hydrogen, with a remote kernel.
What would be the main difference between a classic jupyter-notebook and using the jupyter kernel gateway?

For now the only thing I need to specify is the given token (with the jupyter notebook).

A part for the http-mode the rest seems very simil

[2017-12-08 13:34] barrachri commented on #259
Thanks @rolweber, opened.

[2017-12-08 14:01] rolweber commented on #268
I know neither nteract nor hydrogen, so I can only comment in general. The Kernel Gateway in websocket mode is basically a subset of a plain Jupyter Notebook server. The APIs dealing with notebooks are missing, the APIs dealing with kernels and sessions are the same. Of course, the Kernel Gateway doesn't have a UI either.

[2017-12-08 14:59] maxim-lian commented on #268
I had the same questions; there's some discussion here: https://github.com/nteract/hydrogen/pull/1079

In brief - the vision of the kernel gateway vision is compelling, but given the current state of the code: use the notebook server

[2017-12-08 17:28] barrachri commented on #268
Thanks @maxim-lian, the discussion answers a lot of questions!

[2017-12-15 05:13] AnnamalaiVenugopal opened #269 "Issue faced while doing the PySpark experiment"
Traceback (most recent call last):
  File "C:\Users\avenugopal\AppData\Local\Programs\Python\Python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\avenugopal\AppData\Local\Programs\Python\Python36\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\avenugopal\Downloads\spark-2.2.0-bin-hadoop2.7\python\lib\pyspark.zip\pyspa

[2017-12-15 12:13] rolweber commented on #269
What exactly are you trying to do? Use pyspark from a running kernel? Has the kernel been started with pyspark in the first place? Why are you trying to execute `runpy` when you already have a running Python environment?

If you want to use pyspark within a kernel, you should prepare the Spark configuration outside of Jupyter, and then prepare a "pyspark" kernel spec that uses pyspark instead of p

[2017-12-15 12:18] AnnamalaiVenugopal commented on #269
i am trying to implement an algorithm and am doing it with pycharm IDE.

Can you please give the "pyspark" kernel spec that uses pyspark ?

[2017-12-15 12:33] rolweber commented on #269
I'm not familiar with pycharm IDE, maybe someone else can help.
The kernel spec would have to be written specifically for you environment.

[2017-12-15 12:50] AnnamalaiVenugopal commented on #269
cool.. thanks for your time :-) @rolweber

[2017-12-19 23:17] sherl0cks opened #270 "Async Programming Model?"
This a question.

tl;dr I'm looking for an asynchronous model for remotely invoking the execution of a cell in a notebook which is deployed via the gateway,

I've run through the docs and examples. For short lived executions (e.g. < 10 seconds), I think the existing http personality works great out of the box. But I'm confused on how I should design for long running tasks e.g. > 10 seconds, where

[2017-12-28 11:32] rolweber commented on #270
Is this related to #60?

[2017-12-28 16:46] sherl0cks commented on #270
Not intentionally. They are in the same ballpark, though. If the websocket personality provides the feature describes in #60, that does also work for my needs.

Can you confirm that #60 is still a feature request and not existing functionality?

[2017-12-29 06:12] rolweber commented on #270
#60 is specifically for the notebook-http personality, where the executed code comes from a notebook configured on the server. This is still a possible extension and not existing functionality.

In websocket-http mode, we have websocket connections, but the code is sent by the client. That is not what you asked for above.

[2017-12-29 07:16] sherl0cks commented on #270
Thanks for clarity @rolweber. I'm OK with this function being provided by #60 if that is the direction the project wants to take. I'd also be OK with something like returning a 202 Accepted by the endpoint along with a header for the client to poll the result.

Thoughts?

[2017-12-29 11:48] rolweber commented on #270
@sherl0cks: #60 is dormant, nobody's working on it. If you've got an idea how to implement what you need, go ahead and create a PR.

[2018-01-04 01:24] WorldofDataScience opened #273 "kernel_gateway.notebook_http not found when running Jupyter Kernel Gateway inside Docker container"
Details here:
https://stackoverflow.com/questions/48086434/kernel-gateway-notebook-http-not-found-when-running-jupyter-kernel-gateway-insid

[2018-01-05 00:20] kevin-bates commented on #273
@WorldofDataScience - Looks like you're missing the trailing single-quote on the api parameter of the docker CMD: `"--KernelGatewayApp.api='kernel_gateway.notebook_http"`.

[2018-01-05 03:45] WorldofDataScience commented on #273
Oops. That was dumb. Thanks! :)

[2018-01-08 07:04] #273 closed

[2018-02-01 02:08] xuande opened #274 "how to get service deployed by kernel gateway using jupyterhub"
I achieved multi-user management using jupyterhub + docker spawner + oauth， and I want to add a kernel gateway for every user, then how should I configure jupyterhub to visit the service deployed by kernel gateway through https://ip:port/user/jovyan/**

[2018-02-01 02:57] parente commented on #274
I think JupyterHub 0.8 has support for multiple servers per user. From the release notes:

I have personally tried this feature yet. Maybe @willingc or @minrk can point to an example?

[2018-02-05 15:25] jfleck1 commented on #225
Just ran into this and doing a work-around to startup one gateway per notebook, managing processes and ports in a little Flask app. Anyone make any progress on this?

[2018-02-06 07:41] rolweber commented on #225
@jfleck1: Afaik, nobody is working on this. Would you like to? ;-)

[2018-02-07 21:10] orobsonpires opened #276 "How to get port that the kernel gateway is running via code"
Hi All,

I have an application which executes the following command:

"jupyter kernelgateway --api='kernel_gateway.notebook_http' --port=15000 --seed_uri='x'"

However, if the port 15000 is already in use the application will take the next port available. I would to be able to detect this port after executing this command. Is that possible via code?

[2018-02-08 02:34] parente commented on #276
The kernel gateway uses the same free-port seeking code as Jupyter Notebook. The final port selected is only emitted in the logs at the moment.

Jupyter Notebook also creates a JSON file that lives under the Jupyter runtime directory, retrievable by running `jupyter --runtime-dir` in the shell or using the `jupyter_core` Python package. The JSON file will be named `nbserver-<pid of the notebook se

[2018-02-08 06:43] rolweber commented on #276
Add another parameter to your command: `--port_retries=0`
Then Jupyter will fail to start if the port is busy, and you can select a different port for a retry.

That option was introduced specifically for your situation, see ipython/ipython#1750.

http://jupyter-kernel-gateway.readthedocs.io/en/latest/config-options.html

[2018-02-08 12:49] orobsonpires commented on #276
Hi guys,

Thank you all for your thoughts! I implemented in that way:

First, I check the availability of the port before calling the command inside of code, if the port is busy I just try the next one until find a free port. Then i connected in this port, and already have the port saved, so is not a problem afterward to use this value.

[2018-02-08 12:50] #276 closed

[2018-02-09 22:17] CarlCochran opened #277 "KeyError when starting server"
I've built the developer setup of the Jupyter Kernel Gateway (master branch) into an Ubuntu 14.04 docker container, and so far have not made any changes. I've installed the Julia 0.4.7 kernel and connected it using IJulia. I have generated the config file with these settings:
[code]
When I launch the gateway server, I get this:
[code]
Any ideas what's going on? Any other info needed?

[2018-02-12 06:43] rolweber commented on #277
I'm not familiar with the notebook personality. But from scanning the code, it looks as if [`on_recv_funcs`](https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/services/kernels/pool.py#L71) doesn't contain a function for your kernel. This function is usually provided by the [`execute_code`](https://github.com/jupyter/kernel_gateway/blob/master/kernel_gateway/notebook_http/handler

[2018-02-13 18:57] CarlCochran commented on #277
So far it works exactly as you've suggested, thank you!  I need to familiarize myself with how to write a test for it (and how to run the other tests) before I can submit a PR, so I'll get to that soon.

[2018-03-05 16:15] vnerozin opened #278 "Is it possible to work with kernel gateway via https?"
Is it possible to work with kernel gateway via https?

[2018-03-06 12:12] rolweber commented on #278
Yes. Please have a look at the configuration parameters `--keyfile` and `--certfile`.
http://jupyter-kernel-gateway.readthedocs.io/en/latest/config-options.html

[2018-03-06 12:12] #278 closed

[2018-03-14 01:41] GrahamDumpleton opened #279 "Meaning of env_whitelist and passing vars from os.environ."
When using kernel_gateway on RHEL/CentOS with SCL (www.softwarecollections.org) versions of Python, there is a dependency on ``LD_LIBRARY_PATH`` being passed through to process created which use Python. If this isn't done, you end up with error such as:

[code]

There does exist the configuration setting:

[code]

but it doesn't have the desired affect of allowing you to white list additional envi

[2018-03-14 02:37] GrahamDumpleton commented on #279
So this ``model['env']`` is environment variables passed across from the remote client triggering the creation of the kernel instance. It seems therefore need to look for a separate configuration setting which allows process environment variables from the process starting the kernel sub process to be passed through. Right now only ``PATH`` is passed through.

[code]

So add after this:

[code]

wh

[2018-03-14 02:48] GrahamDumpleton commented on #279
So propose adding new configuration:

[code]

Thus have:

[code]

[2018-03-14 06:44] rolweber commented on #279
I see that in the PR, you already changed the name of the configuration value to `env_process_whitelist`. That addresses my concern about having two parameters with the same name in different App namespaces.

[2018-03-14 07:12] rolweber opened #281 "Compatibility with Tornado 5.0"
Our unit tests are failing with Tornado 5.0, as exposed by PR #280.

[2018-03-14 07:15] rolweber commented on #281
A cheap trick would be to require Tornado<5.0a. But we should rather ensure that the unit tests and KG itself work with Tornado 5.0.

[2018-03-14 15:20] kevin-bates commented on #281
We see the same issue in Enterprise Gateway (of course) and have documented it in [JEG 278](https://github.com/jupyter-incubator/enterprise_gateway/issues/278).  In the meantime, we updated the build to limit Tornado versions to < 5.0 so as to reduce the noise on regular PR traffic.

Another primary change is the removal of the `ioloop` parameter from various methods - which is why updates to `jup

[2018-03-24 01:50] facutk commented on #223
@RDegnen I'm running into the same issue... would you mind sharing your ssh scripts?

[2018-04-23 21:32] kevin-bates opened #283 "Add ability to return custom error messages."
This is related to [Enterprise Gateway Issue 296](https://github.com/jupyter-incubator/enterprise_gateway/issues/296).  With the current implementation of `JSONErrorsMixin.write_error()` it is not possible to do the following:
1. Return custom error text associated with a status code.
2. Return custom status codes.

By extending the `set_status()` method with a `reason` named argument, both of the

[2018-04-24 01:48] #283 closed

[2018-04-24 14:06] kevin-bates commented on #279
This was fixed by #280 - closing.

[2018-04-24 14:06] #279 closed

[2018-05-22 14:16] dangom opened #286 "How to correctly use the `--KernelManager.connection_file` CLI parameter?"
Sorry if this is the wrong project to ask this question. I didn't know where else to ask for information ([SO attempt failed](https://stackoverflow.com/questions/50454941/correct-usage-of-jupyter-cli-parameter)).

According to `jupyter kernel --help-all`, I should be able to change the jupyter kernel JSON connection file by setting a parameter called `--KernelManager.connection_file`.

If I unders

[2018-05-22 15:08] kevin-bates commented on #286
Hi Daniel - this property is defined in the `ConnectionFileMixin` class of `jupyter_client` (in [connect.py](https://github.com/jupyter/jupyter_client/blob/master/jupyter_client/connect.py)).  I wasn't aware of such a capability, but then again, this isn't something we'd use in Kernel (or Enterprise) Gateway.  You might try posting a question to https://github.com/jupyter/jupyter_client.

[2018-05-25 16:41] MMesch opened #287 "How can I access the kernel list?"
Hi all,

I am completely unexperienced with network API's but I am trying to understand how something like this could work:

[code]

The kernel seems to be stucks as 'starting', maybe that's the issue?

I don't set anything in the config file. Everything is set to the default value.

Thank you for your help

[2018-05-25 17:00] kevin-bates commented on #287
Hi @MMesch - thanks for the question.  By default, the ability to list all kernelspec information is disabled.  To enable this functionality, start the gateway using `--JupyterWebsocketPersonality.list_kernels=True`

Here's more detailed info produced by `jupyter kernelgateway --help-all`...

[code]

[2018-05-25 17:03] MMesch commented on #287
ok thanks,

[code]

works, thank you very much!

[2018-05-25 17:07] #287 closed

[2018-05-25 17:10] #286 closed

[2018-05-25 19:18] dangom commented on #286
Thank you for the reply. I'll ask under jupyter client.

[2018-05-28 17:56] MMesch opened #288 "Personality with ManagedKernelPool crashes if no seed is specified (KeyError)"
This simple personality:

[code]

executed with `PYTHONPATH=`pwd` jupyter kernelgateway --api=minimal_bug` crashes with:

[code]

The reason seems to be that the `_on_reply` function get's called immediately when there is no `seed_uri` because there are some ZeroMQ messages lingering around (`status: starting`). When the seed is set, those get deleted https://github.com/jupyter/kernel_gateway/blob

[2018-05-29 05:42] rolweber commented on #288
Looks like a duplicate of #277.
The fix I suggested there seems to work, but the other user didn't get around to submitting a PR.

@MMesch, would you want to give it a try?

[2018-05-29 11:32] MMesch commented on #288
yes, I'll try to make a PR.

Just for reference:

I also get this when connecting to an existing ManagedKernelPool with

`jupyter console --existing ....`

I guess everytime the ManagedKernelPool gets an iopub message without sending a request first, we get this Error.

[2018-06-04 13:07] Akaban opened #289 "Connect to existing kernel"
Hi,

It does not seem like we can connect to a kernel launched remotely via kernel_gateway, the jupyter server does not see any kernels launched remotely. Is there a way to do this or is this feature planned in the project? It would be the best thing ever !

Cheers,

Akaban

[2018-06-04 13:56] rolweber commented on #289
JKG in websocket-http mode is meant to _provide_ the remote endpoint.
See the nb2kg project for the caller side: https://github.com/jupyter-incubator/nb2kg

[2018-06-04 14:11] kevin-bates commented on #289
@Akaban If you're looking for a way to distribute *kernels* across a cluster (and remote from the gateway), while having the notebooks themselves remote on the front side (via nb2kg as Roland mentions), then you'll want to check out [Jupyter Enterprise Gateway](https://github.com/jupyter-incubator/enterprise_gateway) - that's what it does (while deriving directly from JKG).

[2018-06-06 09:15] Akaban commented on #289
Hello,

Thank for the answer ! Indeed I misunderstood some parts. Everything's clear now, I'm closing !

Cheers !

[2018-06-06 09:15] #289 closed

[2018-07-05 14:36] kevin-bates opened #291 "Update dependencies for jupyter framework"
The dependencies upon lower level jupyter components have gotten to a point that they can be problematic for those installing kernel gateway on top of older versions.  [This issue](https://github.com/jupyter/kernel_gateway_demos/issues/61) can occur when older versions of jupyter_core (`< 4.4.0`) are present while updates to jupyter_client have occurred.

Since both Notebook (below) and Enterprise

[2018-07-05 14:52] #291 closed

[2018-07-17 14:12] kevin-bates opened #293 "Allow access from remote hosts"
As of [Notebook PR 3714](https://github.com/jupyter/notebook/pull/3714/) access from non-local hosts is being denied by default.  Since this is the primary functionality provided by Kernel Gateway, we should always enable the ability to provide access from remote hosts.  (The [same change](https://github.com/jupyter-incubator/enterprise_gateway/pull/386) was required in Enterprise Gateway.)

[2018-07-19 06:31] rolweber commented on #293
The PR also removed Python 3.3 from the Travis CI configuration. I don't remember whether removing support for Python 3.3 was already discussed, but I'm all for it :-)

[2018-07-19 13:46] kevin-bates commented on #293
Shoot - I'm sorry, I meant to include something like the following...

I've removed 3.3 from the Travis config since `pkg_resources` (via `setuptools`) no longer supports Python 3.3.  That update was merged late May and delivered in release 40.0.0 July 8th.
[code]

[2018-07-20 05:53] rolweber opened #295 "Drop support for Python 3.3 in favor of 3.7"
As documented in https://github.com/jupyter/kernel_gateway/issues/293#issuecomment-406281658, one of the dependencies of `setuptools` no longer supports Python 3.3.

With [Python 3.7.0](https://www.python.org/downloads/release/python-370/) officially released now, I suggest to drop support for Python 3.3. And we should enable Travis for Python 3.7.

[2018-07-25 17:16] bashterm opened #296 "Kernel Gateway returns Messed Up Error Traceback"
I've been working on a standalone angular app that utilizes the @jupyterlab/services package in order to interact with the kernel gateway.

Connection works and execution works, but when an error occurs the traceback array comes through very messed up. I'm not sure what the problem is. The result looks like this:

[code]

It seems to be an encoding issue, but I can't figure out how to fix it.

Tha

[2018-07-25 18:32] kevin-bates commented on #296
Hello,

I believe those codes are color codes used in syntax hilighting and are a function of the underlying kernel (e.g., ipython).  Using Jupyter Enterprise Gateway, which derives from JKG, I just introduced a syntax error and got back the following...
[code]
which produces this output in a notebook...
<img width="422" alt="screen shot 2018-07-25 at 11 20 45 am" src="https://user-images.githubus

[2018-07-25 18:45] bashterm commented on #296
Thank you **so** much. I would never have figured that out on my own. I really appreciate it.

[2018-07-25 18:45] #296 closed

[2018-07-26 19:16] bashterm opened #297 "500 Error when Changing Kernel through Session"
The kernel gateway returns a 500 error when I try to change the Kernel in the current session.

I'm running the kernel gateway on docker.

Here is the server log:
[code]

Any help or advice would be appreciated.

[2018-07-26 20:43] kevin-bates commented on #297
I believe more information is required here.  What does your request look like?  I'm curious where the id `df4015c9-9824-4c6f-854b-fe8601f0b148?1532632374048` is coming from since just prior to that, we see `c0169618-1f04-49fe-8b98-311f6df27668:270b28ea405236eaf399c29bf4be76e6`, the first portion of which presumably refers to the original kernel_id.

When I try changing kernels from within a Noteb

[2018-07-27 13:46] bashterm commented on #297
I've been using the @jupyterlab/services javascript library to connect to the Kernel Gateway. The library implements the ability to change kernels through the session using a function they call `changeKernel()`. I'm not very clear on how the library itself works, because I don't know javascript very well.

I guess I don't fully understand the intended usecase is for the session api versus the kern

[2018-07-27 23:22] kevin-bates commented on #297
Yeah, I agree with the confusion between `session` and `kernel` apis.  I do know that creating a session will lead to the creation of a kernel.

I hoping some of the Kernel Gateway folks chime in here (@parente, @rolweber), but my understanding is that Kernel Gateway's (and, by extension Enterprise Gateway) primary purpose is to support running the _kernel_ closer to the source (i.e., Spark cluste

[2018-07-28 00:39] parente commented on #297
The session implementation in the notebook server relies (relied?) on sqlite to store session information on disk. In KG, we implemented our own SessionManager that holds all session information in memory. The persistence of session info in a database didn't appear valuable to the use case since all of the in-memory the kernel state is lost whenever a KG shuts down anyway.

The 500 error you're se

[2018-07-30 18:42] parente commented on #297
If the KG is providing an incompatible API vs notebook, we should fix it here, not require you to create a non-standard client. It requires some debugging, since I'm going on a hunch that it's an API incompatibility causing the problem and not something else.

[2018-07-30 22:31] kevin-bates commented on #297
@bashterm, I'm not claiming to have cycles to look at this, but it would be helpful if you could provide some insight into the `change_kernel()` method or, better yet, the set of requests being submitted to Kernel Gateway on behalf of `change_kernel()` so we have a chance to reproduce the issue.  I have a hunch that the original kernel was terminated prior to the failure against `/api/sessions` -

[2018-08-01 21:44] bashterm commented on #297
I'll see what I can do. I've been bogged down lately with some work but hopefully I can work on this friday.

[2018-08-03 00:02] kevin-bates commented on #295
I definitely agree with dropping 3.3.  However, I believe we enabled 3.7 in our travis yaml for Enterprise Gateway and ran into some strange issues.  That may have been when 3.7 was on the cusp of being official.  I can't recall the issues but because we didn't have time to take a closer look, we backed out that update.  Not sure if KG will encounter similar issues, but wanted to share that experi

[2018-08-03 05:29] SweetLunar commented on #273
I made end-point by kernel gateway but nothing appears in the browser just i can see {"reason": "Not Found", "message": ""} message. I checked that the python code is working well at the cell which including # GET command in the notebook script. Why is my kernel browser not working? T.T

[2018-08-03 08:36] rolweber commented on #273
@SweetLunar Please open a separate issue for your problem, instead of commenting on an issue that is already closed.

Also, we will need more information about your setup and configuration, and the URL you are calling.

[2018-08-06 13:49] robmarkcole opened #298 "'Error seeding kernel memory'"
On attempting to run a gateway it shutdowns after a second or so with the following:
[code]

[2018-08-06 14:48] kevin-bates commented on #298
i know very little about the notebook_http personality, but you have some cells denoted as `seed cells` and the execution of one of those code cells (performed at kernel startup), is returning a failed status, causing kernel-gateway to shutdown the kernel.

You can kinda pick through the color codes and see this is a `NameError: "name 'args' not defined"`.

If the notebook works fine in normal mod

[2018-08-06 15:09] robmarkcole commented on #298
@kevin-bates you are correct, and the error is resolved when I place all of the contents in a single cell under the `# GET /convert` comment.

I was following https://ndres.me/post/jupyter-notebook-rest-api/ btw

Thanks!

[2018-08-06 15:09] #298 closed

[2018-08-06 16:09] kevin-bates commented on #298
@robmarkcole - thanks for the update and the link to the example.

Seems to me what is wanted here is for the `import` statements to be a _seed cell_, while the "convert" cell is not a seed cell - otherwise it gets run at startup (which is what you'd want for the `import` statements).

I think by decorating with "convert" cell with a `ResponseInfo` indicator, then it would not be a deemed a seed c

[2018-08-06 20:47] kevin-bates commented on #259
@SimonBiggs - Since the hood is up, I think this might be a good time to check out [jupyter server](https://github.com/jupyter/jupyter_server) if you haven't already.

[2018-08-06 21:07] SimonBiggs commented on #259
@kevib-bates thank you for the heads up. Massively appreciated. I'll take it for a spin on the weekend hopefully.

[2018-08-08 16:12] kevin-bates commented on #295
I don't think support for Python 3.7 in travis is ready for prime time just yet.  When enabled, I get the following:
[code]
This is backed up by this issue: https://github.com/travis-ci/travis-ci/issues/9815

However, using `- 3.7-dev` does work.  So I suppose we could move to that for now.

[2018-08-08 17:00] kevin-bates opened #300 "Release 2.1.0"
Since it's been 9 months since the last release and with JupyterCon approaching, it seems like a good time to issue a release.  I'm happy to put this together but wanted to get _buy-in_ from others.  We currently have [10 closed PRs](https://github.com/jupyter/kernel_gateway/pulls?utf8=%E2%9C%93&q=is%3Apr+closed%3A%3E2017-11-11+) that would comprise the release.

The reason for making this a minor

[2018-08-08 17:45] parente commented on #300
Updated the todo list and checked off one item. I'll keep an eye on this issue. Thanks for working on this @kevin-bates

[2018-08-09 06:12] PetraWang commented on #194
sorry to re-open it, but I`ve encountered the same issue.
Here`s my sample notebook content
`# GET /contacts
import json
req = json.loads(REQUEST)
print(req)
print("test")
print("测试")`

I used command below to start the server:
`jupyter-kernelgateway --KernelGatewayApp.api='kernel_gateway.notebook_http' --Kerne
lGatewayApp.seed_uri='api_intro.ipynb'`

And when I tested the api with
`http://127.0.0

[2018-08-09 07:53] rolweber commented on #300
+1 Makes sense to cut a new release.

[2018-08-09 08:01] rolweber commented on #300
I'm OK with not officially supporting Python 3.7 for now. If it works, fine. If it doesn't, we'll accept patches regardless of whether Travis supports 3.7 or not.

[2018-08-09 08:03] rolweber commented on #300
Please merge #301 before the release. That was a to-do on my whiteboard for months. Sorry for not getting around to it earlier.

[2018-08-13 17:27] kevin-bates commented on #300
@parente - It doesn't look like I have write access on conda-forge to merge the auto-generated PR: https://github.com/conda-forge/jupyter_kernel_gateway-feedstock/pull/10

cc: @lresende

[2018-08-13 23:45] parente commented on #300
@kevin-bates I merged the PR there. Can you submit a separate PR adding yourself and @lresende to the maintainers section in the meta.yaml? Once that merges, you should have merge permissions for that repo on conda-forge.

(I didn't want to delay the release and rebuild by asking you to do it in the 2.1.0 PR.)

[2018-08-13 23:48] kevin-bates commented on #300
@parente - perfect - thank you!

[2018-08-13 23:51] kevin-bates commented on #300
Announcement posted: https://groups.google.com/forum/#!topic/jupyter/5L-V4Bqfd_8

Closing issue.

[2018-08-13 23:51] #300 closed

[2018-08-20 05:58] PetraWang commented on #194
[api_intro2.zip](https://github.com/jupyter/kernel_gateway/files/2301261/api_intro2.zip)
Thanks for the reply @rolweber
Since github does not support uploading ipynb file, I uploaded the zipped file as attachment.

The characters I wanted to print is '测试' which means 'test' in english, and the outcome was '娴嬭瘯' which I cannot get the meaning.

I was running my test on Windows10, Python3.6. I start

[2018-08-20 06:42] rolweber commented on #194
Thanks @PetraWang, zipping the file was the best approach to attach it :-)

Character encodings are a tricky thing. Assuming the characters are encoded correctly in your ipynb file (which I didn't check yet, for lack of time):
1. The ipynb file is loaded by kernel gateway into RAM.
2. The characters are sent in the response to your request. (server side)
3. The characters are received with the res

[2018-08-27 12:50] chmduquesne opened #302 "Would it be possible to automatically expose ipywidgets?"
Hi,

I was wondering if it would be possible to expose all the widgets of a notebook through an automatically generated http resource.

One would then write some js glue so that a static html notebook created with nbconvert would be able to connect to a live notebook.

The same would be needed in order to expose output areas, so they would be connected to their static counterparts, also via some j

[2018-08-27 13:33] parente commented on #302
Hi @chmduquesne. @SylvainCorlay and @maartenbreddels presented almost exactly what you are described at JupyterCon just last week in their talk about ipywidgets. They demoed a tool, called voilà, which I believe they plan to open source.

[2018-08-30 12:41] chmduquesne commented on #302
@SylvainCorlay @maartenbreddels I would be very interested in knowing more about this. Any way to learn more?

[2018-08-30 16:55] maartenbreddels commented on #302
voila currently takes a notebook as argument, on a http get it will spin up a kernel, run nbconvert with that kernel and keep the kernel alive. The html from nbconvert gets send to the browser, and the client connects to that kernel, the comms get created so all widgets work. Voila builds on jupyter_server (a stripped down server of notebook), but does not allow arbitrary code execution.
A gif is

[2018-08-30 17:42] chmduquesne commented on #302
@maartenbreddels thank you very much! this is exactly what I wanted, functionally: exporting my notebook so that the controls are still functional, but where it is no longer possible to execute arbitrary python code.

Any reason why you guys are currently keeping it private? If your code needs improvement, I'd be happy to help. Of course if it's about cleaning up private stuff, I understand, thoug

[2018-08-30 19:42] cbcunc commented on #302
@maartenbreddels, sweet!

[2018-08-30 19:51] SylvainCorlay commented on #302
voila requires the master branch of `nbconvert` and is also based on `jupyter_server`. No secret sauce here. We just thought we would push it out once it is in a better state. I am off for a couple of days, and will make the `voila` repository public when I am back :)

[2018-08-31 06:48] chmduquesne commented on #302
Sounds also reasonable :-)

I am very looking forward to have a look at the code and try it out!

[2018-09-17 15:29] kevin-bates commented on #302
This looks sufficiently discussed and probably belongs in a different repo anyway - closing.

[2018-09-17 15:29] #302 closed

[2018-09-17 15:39] kevin-bates commented on #269
@AnnamalaiVenugopal - you might try taking a look at the [example kernelspecs](https://github.com/jupyter/enterprise_gateway/tree/master/etc/kernelspecs) provided by Enterprise Gateway.  These would require use of the EG process proxies, but they may give you hints of how to go about this in general.

If you've moved on from this, we should probably close this issue.

[2018-09-17 15:41] kevin-bates commented on #268
Discussion appears complete - closing.

[2018-09-17 15:41] #268 closed

[2018-09-22 19:00] mboratko opened #305 "How do I add kernels to kernel_gateway?"
I've setup a jupyter notebook server and jupyter kernel gateway using conda. I have a number of conda environments setup, and the notebook server correctly displays the full list of notebook servers. I start the kernel gateway as follows:

`jupyter kernelgateway --JupyterWebsocketPersonality.list_kernels=True`

and then browse to `http://localhost:8888/api/kernels`, which reponds with `[]`. I was

[2018-09-24 02:54] futurist opened #306 "/api/sessions implements a deprecated model"
When called from `MainKernelHandler.post` with below post data for end point `/api/sessions`:

[code]

The returned json:

[code]

Which should be:

[code]

**Problem** The `type, name, path` is losted, which is not a valid model for the result.

This seems also same problem for a `GET /api/sessions` result.

[2018-09-24 06:07] rolweber commented on #305
Did you activate the conda environment of the notebook server before starting the kernel gateway? There's a search path for kernel specs. But iirc, Anaconda also implemented some extra logic to search and enable kernels across conda environments. That logic is not in the kernel gateway by default, and I'm not sure if it will work if you try to configure it.

The kernel gateway is not running on a

[2018-09-24 06:16] rolweber commented on #306
How do you decide what is "a valid model"? Are there some client libraries that stopped working with our endpoints?

I don't see any lost data. The path and name are in the "notebook" section, and the presence of the "notebook" section indicates the type. But if newer versions of jupyter_client or other client-side libraries expect a different format, we should look into it.

[2018-09-24 06:29] futurist commented on #306
The part of interface in the `@jupyterlab/services` defined below:

https://github.com/jupyterlab/jupyterlab/blob/562f485a6f03ed75004acbb9c2e73a81d1cc0f0b/packages/services/src/session/session.ts#L509

Now it expect a `model.path` etc. exists.

I'm try to create a PR in jupyterlab to fix the compatible with deprecated model format now.

[2018-09-24 10:12] #306 closed

[2018-09-24 17:02] mboratko commented on #305
I did not, but I was hoping that all available kernels would be available. (I wouldn't want to have to activate each one and then only be able to access that kernel, I was hoping to be able to select from all available kernels on the machine.) That said, there is a base kernel which is active if you have not activated any other environment, and this one wasn't listed either, nor was the default py

[2018-09-24 18:43] kevin-bates commented on #305
Can't really comment on python/anaconda environment stuff, but I don't think the `kernels` directory should be part of the `JUPYTER_PATH` value.  Try `export JUPYTER_PATH=/opt/miniconda3/share/jupyter`and restart JKG.

Tip: If you enable DEBUG logging on JKG (`--log-level=DEBUG`), then a refresh from the Notebook files view will trigger the kernel spec refresh and you'll see the set of kernels tha

[2018-09-24 20:08] mboratko commented on #305
Thanks for the tip. Here's the output:

[code]

Visiting `http://localhost:8888/api/kernels` still responds with an empty list, `[]`. I haven't tried connecting a notebook instance elsewhere yet, I assumed visiting this address should respond with a list of kernels so that's what I've been doing in order to test it.

[2018-09-25 06:07] rolweber commented on #305
If you just open a terminal and use a Python version from Anaconda, related environment variables are not set. Try `source activate base` before starting the kernel gateway. I'm assuming that you installed the kernel gateway into that base environment.

To find the location of kernel specs across your conda environments, try this:
[code]
Then have a look at the kernel definitions to see if they au

[2018-09-27 08:46] gaocegege commented on #305
I think it may be a bug. I can get the specs from `/api/kernelspecs` but cannot get anything from `/api/kernels`

[2018-09-27 09:14] rolweber commented on #305
I'm not that familiar with the API myself... if `/api/kernelspecs` returns the kernel specs, then `/api/kernels` should return the running kernels, right? Did you start a kernel yet?

[2018-09-27 09:19] gaocegege commented on #305
@rolweber

I just start the kernel `jupyter kernelgateway --JupyterWebsocketPersonality.list_kernels=True --log-level=DEBUG`, then visit `http://localhost:8888/api/kernelspecs`, I can get the specs:

[code]

While I get `[]` when visiting `http://localhost:8888/api/kernels`

It does not affect the usage, I can see the kernels in jupyter notebook, but I just cannot get the result from the API.

[2018-09-27 09:34] rolweber commented on #305
_I just start the kernel `jupyter kernelgateway`_

That's not a kernel, that's a _kernel gateway_. A Python process that manages kernels.
Did you tell the kernel gateway to start a kernel? If not, then no kernel is running.

[2018-09-27 09:43] gaocegege commented on #305
Oh gotcha, I misunderstand the API, thanks!

[2018-09-27 10:38] rolweber commented on #305
Feel free to re-open or to create a new issue if you run into other problems.

[2018-09-27 10:38] #305 closed

[2018-10-03 09:29] SamuBox opened #308 "Uncaught exception"
Im constantly getting this when opening a notebook, Ubuntu 18 and python 3, looks like the kernel is always restarting

[code]

this is what i get when I type jupyter notebook, not sure if its normal, the 404 seems fishy

[code]

[2018-10-04 15:19] kevin-bates commented on #308
@SamuBox - thanks for posting the issue.  I have a couple comments/observations.
1. It looks like you're running Notebook w/o the nb2kg extension unless you didn't include entries immediately prior to `Serving notebooks from...`.  Otherwise, you'd have entries like these...
[code]
As a result, I'm not sure this issue is directed to the appropriate repository.

2. However, the `unexpected keyword a

[2018-10-04 16:46] SamuBox commented on #308
It was an outdated Notebook problem, updating made it work , thanks!

[2018-10-04 16:59] #308 closed

[2018-10-04 17:19] kevin-bates commented on #308
Update: Looks like Notebook 6.0 is not available.  I had built an NB yesterday for something else and found the version to be 6.0.0, but that's just the dev version.  5.7.0 is the latest Notebook version and just because the dev version is 6.0.0.dev0 doesn't mean there won't be additional 5.x versions prior.

[2018-11-29 10:05] pfilipko opened #309 "NameError: name 'REQUEST' is not defined"
Hi,

When I try to use global variable REQUEST with kernel_gateway I got the error:

Could you help?

[2018-11-29 10:30] pfilipko commented on #309
Ups, my fault - it wasn't mentioned in description that I should declare REQUEST manually with proper fields and I tried to use it as built-in library variable. You can delete the issue ;)

[2018-11-29 11:41] #309 closed

[2018-12-03 19:56] DJShump08 opened #310 "Proper way to delete kernel"
Everytime a user uses my application I called start new for a new kernel. I need a way to manage the kernel and delete/remove it after the client closes the terminal window. Any ideas?

[2018-12-04 07:12] rolweber commented on #310
Use DELETE to shut down kernels:
https://github.com/jupyter/jupyter/wiki/Jupyter-Notebook-Server-API#Kernel-API

[2018-12-14 05:19] jagadish20 opened #311 "Accessing kernal getway exposed API via Ajax or any other application"
vai postman and browser i'm able to access but not with ajax api call , It gives 500 internal server error , jupyter_kernel_gateway_config

[code]

Thanks in advance

[2019-01-24 06:23] 15050050972 opened #312 "how can I exec code (python/R) by kernel gateway?"
I didn't find corresponding interface in swagger.yaml

[2019-01-24 07:17] rolweber commented on #312
Kernel Gateway provides the same REST interfaces for managing kernels and sessions as Jupyter Notebook does. We don't have separate documentation for that.